[2015-02-03 23:58] arturochian opened #2 "Issue displaying rpivott"
Hi @smartinsightsfromdata  I have this result when I use
rpivotTable(data = dt, rows = "Party", cols = "Province", vals = "votes", aggregatorName = "Sum")

![image](https://cloud.githubusercontent.com/assets/4960935/6032361/23b61b16-abd6-11e4-9d93-32086a24e1c6.png)

I don't know if it's a new issue (this package is relatively new).

[2015-02-04 00:01] arturochian commented on #2
I have this warning message

Warning message:
In FUN(X[[2L]], ...) :
  converting an R function to JSON as null. To change this, define a method for toJSON() for a 'function' object.

[2015-02-04 00:02] arturochian commented on #2
R version 3.1.2 (2014-10-31)
Platform: i386-w64-mingw32/i386 (32-bit)

locale:
[1] LC_COLLATE=Spanish_Peru.1252
[2] LC_CTYPE=Spanish_Peru.1252
[3] LC_MONETARY=Spanish_Peru.1252
[4] LC_NUMERIC=C
[5] LC_TIME=Spanish_Peru.1252

attached base packages:
[1] stats     graphics  grDevices utils
[5] datasets  methods   base

other attached packages:
[1] rpivotTable_0.1.2.3

loaded via a namespace (and not

[2015-02-05 13:55] smartinsightsfromdata commented on #2
Interesting.  Are you supplying data or using the example project?
I confess that currently example dataset does not contain "votes", so it is normal to expect it to give an error.
I used "votes" in the README as an example of additive variable, but currently it is NOT in the dataset!.

But many thanks for this: it means (as I mention "votes" in the README as an example) that I need to add votes t

[2015-02-05 15:02] mostly-harmless opened #3 "isolate the variable drag-and-drop"
Nice binding!

Question: Is it possible to use the variable drag-and-drop functionality without the tables/graphs etc.? R could then handle the plotting, summarizing, etc.

[2015-02-05 18:13] smartinsightsfromdata commented on #2
I've just pushed an amendment of the library.  Now the dataset aligns to the example (e.g. you can set the sum of votes with
rpivotTable(data = jsdf_, rows = "Party", cols = "Province", vals = "votes", aggregatorName = "Sum")

[2015-02-05 18:39] smartinsightsfromdata commented on #3
Thanks @mostly-harmless!

While pivottable has three renderers as default (standard; D3 and GoogleChart - more can be custom developed in JS), my implementation has only the standard renderer.

The reason is that the heat map offered by the D3 renderer didn't look particularly exciting, and as far as GoogleChart, my apps must be able to work also without an internet connection.  Sadly GoogleChart

[2015-02-05 18:55] arturochian commented on #2
Hi @smartinsightsfromdata I reinstalled the package. However I have the same issue.

I tried with  data = jsdf_ and data = dt.

I tried to find the data on the package.. where is it?

[2015-02-05 18:59] arturochian commented on #2
I ran this and it worked :smile:

https://github.com/smartinsightsfromdata/rpivotTable/blob/master/inst/examples/dat01.R

[2015-02-05 18:59] #2 closed

[2015-02-06 14:50] smartinsightsfromdata commented on #3
@mostly-harmless please let me know if I can close this issue.

[2015-02-06 14:53] #3 closed

[2015-02-06 16:50] timelyportfolio opened #5 "add support for data.table and table"
As of now, only `data.frame` works.  I'll work on adding conversion for `data.table` and `table` into the function.

[2015-02-06 16:53] smartinsightsfromdata commented on #5
@timelyportfolio   This is not correct.  I am using rpivotable in a large shiny project I'm working on and I use it exclusively with data.table.  I'll check on table.

[2015-02-06 16:54] timelyportfolio commented on #5
Well, it did not work on my end.  I'll just make it explicit, so it will not be a problem.

[2015-02-06 16:58] smartinsightsfromdata commented on #5
@timelyportfolio Please try again: I just tested it now.

[2015-02-06 17:00] timelyportfolio commented on #5
I believe it depends on the `toJSON` that gets called and the data in the `data.table`.  Not sure why being explicit will cause a problem.

[2015-02-06 17:04] smartinsightsfromdata commented on #5
@timelyportfolio there is *no* toJSON in the actual code.  I used in the example to quickly transform some of the json I got hacking a web example that Nicolas was using on Canadian election.

[2015-02-06 17:09] timelyportfolio commented on #5
`htmlwidgets` converts all parameters to JSON [here](https://github.com/ramnathv/htmlwidgets/blob/master/R/htmlwidgets.R#L127) .  Since you don't believe me, try this:

[code]

[2015-02-06 17:11] smartinsightsfromdata commented on #5
@timelyportfolio xtabs and table is different. But I am not sure it is a good idea to make the code too complex to manage these types.  It is much better (and robust) to ask the user to convert.
Another story could be the new type tbl used by Hadley in dplyr, that he wants to design in compatibility with lap tools.  I will ask him what are his plans and report back.

[2015-02-06 17:13] timelyportfolio commented on #5
`tbl_df` will work fine with my change.  Can add a warning about conversion so user is not surprised.

[2015-02-06 17:13] smartinsightsfromdata commented on #5
@timelyportfolio  since you do not believe *me* try this in dat01.R (in the example folder):
[code]
I will look into why iris does not work, but it certainly *not* because it is a data.table.

[2015-02-06 17:16] timelyportfolio commented on #5
I never said your data did not work.  What I said is that I have a case where an error occurs and that I think we should handle.  See these type checks/conversions from RStudio.

https://github.com/rstudio/dygraphs/blob/master/R/dygraph.R#L31-L33
https://github.com/rstudio/DT/blob/master/R/datatables.R#L43-L53

[2015-02-06 17:18] smartinsightsfromdata commented on #5
@timelyportfolio the error with iris occurs because iris column names have a dot and I suspect pivotable does not like that.  If you convert the dot in the name into a _ (underscore) it works.  Try it.

[2015-02-06 17:23] timelyportfolio commented on #5
I think this is another expectation that gets solved with a simple conversion using `data.table` built in conversion.  `toJSON` was not built with `data.table` in mind so result will be more accurate with `data.frame`.

I'll submit a pull and you can decide.

[2015-02-06 17:43] smartinsightsfromdata commented on #5
@timelyportfolio it seems that the problem is with the dot but this emerges only after a conversion from data.frame to data.table.  (a data.frame with no dots in the colnames is OK and of course a native data.table is OK).
As I am a strong data.table supporter / user, I'll report it to the data.table project: if there is something that breaks the data.frame / data.table parallelism Matt D. and co.

[2015-02-06 18:24] smartinsightsfromdata commented on #5
@timelyportfolio I think the issue is between RJSONIO and data.table. See [here](http://stackoverflow.com/questions/28372298/json-issue-bug-with-data-table-and-rjsonio-jsonlite)

[2015-02-06 18:38] timelyportfolio commented on #5
Oh, I know it is.  In no way should this discussion suggest that I do not support `data.table`. I simply want `rpivotTable` to be robust.  Once `data.table` is converted to `JSON` it doesn't matter what form it is in. In fact, `toJSON` will force convert unknown classes anyways.  The step I added just assures that users get a good result.

[2015-02-06 22:59] mostly-harmless opened #10 "rpivotTable output sent to Rstudio viewer and not to webpage"
Trying out rpivotTable in a shiny app. For some reason it is send the output straight to the Rstudio viewer and not the webpage. It also blocks the other elements of the tabset. Any ideas? Code linked below

https://github.com/mostly-harmless/radiant/tree/shiny11

[2015-02-06 23:43] timelyportfolio commented on #10
Shiny support has not been tested.  I hope to get to it over the weekend or next week.  I think @smartinsightsfromdata has used in Shiny successfully but not sure if in a tabset.

[2015-02-06 23:50] mostly-harmless commented on #10
The example shiny app works fine. I am using navbarPage and tabsets in my app so maybe there is something there.

[2015-02-07 00:11] smartinsightsfromdata commented on #10
@mostly-harmless I use rpivotTable with an app with navbarpage plus multi-tabs in page (just counted: 11 tab panels distributed in two rows and two tabsetpanels).   With no issue whatsoever.
Can you share your code please?

[2015-02-07 00:15] smartinsightsfromdata commented on #10
@mostly-harmless This is the UI code:
[code]
And this is the server code:
[code]

[2015-02-07 01:27] mostly-harmless commented on #10
No luck on my end figuring this out yet. My code:

UI:
`tabPanel("Pivot", rpivotTableOutput("pivotData"))`

Server:
`output$pivotData <- renderRpivotTable({
  rpivotTable(data = r_data[[input$dataset]])
})`

r_data is a reactiveValue object that has the data.

Just to verify it is not (likely) something on my end I replace the rpivotTable lines with the ones below. Those work fine.

tabPanel("Pivo

[2015-02-07 10:58] mostly-harmless commented on #10
I made some progress isolating the source of the problem. My ui.R is built using renderUI. The call to rpivottable does not work when I put it in a renderui. However, if I put it directly into ui.R, which I assume is what you to @smartinsightsfromdata, it does works. The file where the tabs are created in my app is linked below in case that is helpful. Any suggestions?

https://github.com/mostly-h

[2015-02-07 12:04] smartinsightsfromdata commented on #10
@mostly-harmless I don't know what to say: it worked for me without problems (nice work by the way, well done!).
On the other hand I had (many) problems with the libraries (but this is partly due to RRO - I'm used to it).
My sequence of ops was:
1. build radiant-shiny11 in Rstudio (adding independently any package that was failing the build).
2. Open in base ui.R and launch it. At least I've got p

[2015-02-07 12:17] smartinsightsfromdata commented on #10
@mostly-harmless on the other hand, looking at your folders, in www you have a jquery-ui.custom.min.js
library already.  Assuming it is used by some other part of your code, in some instances the dom will have possibly two jquery-ui scripts, with bad consequences.

[2015-02-07 13:09] smartinsightsfromdata commented on #10
@mostly-harmless Steps tried:
1. Re-published in github rpivotTable (to be certain that all was ok).
2. Re-installed rpivotTable
3. Open in rstudio radiant-shiny11 (I only made one change: I have commented out all of dependencies.R) because of problems with my RRO libraries
4. Build radiant package with rstudio
5. Launched the shiny app (runApp button on rstudio):  all OK

I repeated steps 3 to 5

[2015-02-07 16:52] mostly-harmless commented on #10
Thanks for looking into this Enzo. Very strange that this works on your machine and not at all on mine. Below is all I see in Chrome or Safari. Could you send me output from `sessionInfo()` on your machine? What is RRO by the way?

![screen shot 2015-02-07 at 8 46 40 am](https://cloud.githubusercontent.com/assets/2998956/6092844/044b091c-aea6-11e4-98bb-730897faa1b0.png)

R version 3.1.2 (2014-10-3

[2015-02-07 17:12] mostly-harmless commented on #10
I reinstalled rpivotTable from gihtub and now it works. Same package version 0.1.2.6. I don't get it.

2 questions:

1. It seems the order of factor levels is not maintained when pushed into the browser / pivottable.js.
2. Is it possible to distinguish factors/character/etc. from numeric variables (e.g., using color)? Numerics are great for averages but, most likely, you wouldn't want them on the

[2015-02-07 19:29] smartinsightsfromdata commented on #10
@mostly-harmless  thanks you for using it.  In reality I feel a bit of an usurper of fame: frankly all of the merit goes to Nicolas @nicolaskruchten that has developed the pivottable library.  Ultimately this is just a wrapper.
I'm having some issue in ordering categorical variables too.  As far as I understand pivottable works ordering alphabetically any variable except numbers.  For example in m

[2015-02-07 19:36] smartinsightsfromdata commented on #10
@mostly-harmless  RRO is Revolution R Open.  It is significantly faster thanks to intel MKL (on Linux and Windows - but accelerate on Mac) for linear algebra.
 This is my session info - I'm on OS X yosemite:
[code]

[2015-02-08 06:41] mostly-harmless commented on #10
The update to rpivotTable fixed things on my end. Thanks Enzo!

[2015-02-08 06:41] #10 closed

[2015-02-11 18:52] mostly-harmless opened #11 "js errors in console"
rpivotTable seems to work fine. However, any idea how I might get rid of the errors in the js console (chrome) with rpivotTable in Shiny? Does an addresourceadd need to be added perhaps? This is using Shiny 0.11.1

![screen shot 2015-02-11 at 10 48 44 am](https://cloud.githubusercontent.com/assets/2998956/6153749/ba3bbf4a-b1db-11e4-998d-172d2711b8e7.png)

[2015-02-11 19:00] smartinsightsfromdata commented on #11
@mostly-harmless let me try...

[2015-02-11 19:04] smartinsightsfromdata commented on #11
@mostly-harmless Interesting: I do not have them (apart the favicon error - which shouldn't be a problem)

![screen shot 2015-02-11 at 19 02 11](https://cloud.githubusercontent.com/assets/3786727/6154029/a687d3b8-b220-11e4-9b49-fd820b9a3480.png)

[2015-02-11 19:07] mostly-harmless commented on #11
FYI happens locally as well

—

Vincent R. Nijs

Associate Professor of Marketing

Rady School of Management

University of California, San Diego

Wells Fargo Hall, 3W116

9500 Gilman Drive # 0553 | La Jolla, CA  920930553

858.822.7459 ǀ vnijs@ucsd.edu

On Wed, Feb 11, 2015 at 11:06 AM, Enzo <notifications@github.com> wrote:

[2015-02-11 19:09] smartinsightsfromdata commented on #11
I tried also on shinyapps and again I get only the favicon error.  My screen is small (I'm on the road) and I cannot see it, but the error counter is definitely at 1...

![screen shot 2015-02-11 at 19 07 32](https://cloud.githubusercontent.com/assets/3786727/6154162/7d7e5d9c-b221-11e4-8155-afb1cfb2a0c7.png)

[2015-02-11 19:23] smartinsightsfromdata commented on #11
Not sure if it is a red herring, but it is interesting that you get the error because the browser is not able to locate the  source maps for the libraries.  I am using the canary 64 bits build of chrome (apparently the right one for js development - I'm told).  In reality they are not necessary and it could be an option in certain environments.
Try to look [here](https://developer.chrome.com/devto

[2015-02-11 19:34] smartinsightsfromdata commented on #11
@mostly-harmless Well even a freshly downloaded chrome does not give these errors (even the favicon one disappears...).  I am not sure what to suggest.  I have submitted minor changes to github (mainly about testing and other minors) and I haven't touched the yaml. But maybe you could try to re-install the library?  (just because I'm running out of options...)

![screen shot 2015-02-11 at 19 29 50

[2015-02-11 19:38] smartinsightsfromdata commented on #11
@mostly-harmless this so post seems quite straightforward - [here](http://stackoverflow.com/questions/18365315/jquerys-jquery-1-10-2-min-map-is-triggering-a-404-not-found)
The question remains why you have the error and I don't?
I've also tried to re-install rpivotTable with the same result (i.e. no errors).

[2015-02-11 20:09] smartinsightsfromdata commented on #11
@mostly-harmless could you kindly confirm that chrome has the devtool setting "Enable JavaScript source maps" enabled? I suspect it is harmless (pun!) if you set it in any case...

[2015-02-11 20:52] mostly-harmless commented on #11
I will try that this afternoon. Thanks for looking into this Enzo!

—

Vincent R. Nijs

Associate Professor of Marketing

Rady School of Management

University of California, San Diego

Wells Fargo Hall, 3W116

9500 Gilman Drive # 0553 | La Jolla, CA  920930553

858.822.7459 ǀ vnijs@ucsd.edu

On Wed, Feb 11, 2015 at 12:10 PM, Enzo <notifications@github.com> wrote:

[2015-02-11 23:30] #5 closed

[2015-02-12 02:21] mostly-harmless commented on #11
I turned ‘enable js source maps’ off and no more error. Thanks

—

Vincent R. Nijs

Associate Professor of Marketing

Rady School of Management

University of California, San Diego

Wells Fargo Hall, 3W116

9500 Gilman Drive # 0553 | La Jolla, CA  920930553

858.822.7459 ǀ vnijs@ucsd.edu

On Wed, Feb 11, 2015 at 12:52 PM, null <vincent.nijs@gmail.com> wrote:

[2015-02-12 02:26] smartinsightsfromdata commented on #11
@mostly-harmless I am glad it worked, but I still cannot explain why I  could load them with no errors (on plain chrome & canary) and you couldn't....

[2015-02-12 13:37] #11 closed

[2015-02-24 21:14] happyshows opened #12 "Is there any way to fetch the actual values on UI and save it? [Question]"
Hi,

I'm planning to use this package in Shiny, but I'm wondering if there's a way to "read" the user selected filter/row/column so that user can export the setting and reload it when they visit next time?

A minimal example is appreciated, thanks.

[2015-03-05 06:30] vnijs opened #13 "citing rpivottable"
I would like to provide some citation to the packages used in my app. Generating the citation for rpivottable only works partially (see message below).

Warning in citation(i): no date field in DESCRIPTION file of package
'rpivotTable'

See links below where I mention your package in the helpfiles.

http://mostly-harmless.github.io/radiant/about.html
http://mostly-harmless.github.io/radiant/base/p

[2015-03-14 18:07] vnijs opened #14 "CRAN?"
Are you planning to push rpivotTable to CRAN? I think everything works with the version of htmlwidgets on CRAN

[2015-03-16 16:11] williamjwest opened #15 "Charts are missing from renderer dropdown."
First off, this is a great package.  When I run this in Rstudio, I do not have the option of selecting "Bar Chart", "Area Chart", or "Line Chart".  Is this expected?

[2015-03-16 17:12] smartinsightsfromdata commented on #15
@williamjwest thanks (any merit goes to @nicolaskruchten really, the developer of the original library).
The functionalities you are referring to are coming from a renderer that uses Google APIs.  As per the terms of the Google API license they can be accessed only online (i.e. they cannot be stored in a folder as part of your project like jquery etc.).
htmlwidgets, the library developed by @ramna

[2015-03-16 17:14] smartinsightsfromdata commented on #14
@mostly-harmless Definitely, as soon as I have time (in the next few days)!

[2015-03-16 17:15] smartinsightsfromdata commented on #13
@mostly-harmless thanks for this.  I'll fix the description.  Thanks for reporting it.

[2015-03-16 17:19] smartinsightsfromdata commented on #15
@williamjwest Actually, I've just noticed that Nicolas has added c3 renderers for bar charts and line graphs: I'll work on adding these asap!

[2015-03-16 19:39] smartinsightsfromdata commented on #15
@williamjwest Done!.  Version 0.1.3.1 has the c3 renderer for line charting and bar charting.

Please note that it is possible to have these renderers as the respective library comply with htmlwidgets expectations (i.e. it can be downloaded).  This makes this functionality available across the board.

[2015-03-16 19:45] smartinsightsfromdata commented on #13
@mostly-harmless  Date field added to description.  Please note as well the new c3 renderers for line and bar charting.

[2015-03-16 21:42] nicolaskruchten commented on #15
@smartinsightsfromdata nice job :) this is exactly the kind of thing which I was hoping to enable with the C3 charting

[2015-03-16 21:58] williamjwest commented on #15
@smartinsightsfromdata <https://github.com/smartinsightsfromdata> Awesome
and amazing. I'll try it out this evening.

On Mon, Mar 16, 2015 at 3:39 PM, Enzo <notifications@github.com> wrote:

--
williamjwest@gmail.com
864-906-3603

[2015-03-16 22:48] smartinsightsfromdata commented on #12
@happyshows let me touch upon the original library pivottable structure:
pivottable has two APIs:
- pivot() is the low level API: you need to specify everything and it is "static": you specify what needs to be reported, where, how it needs to be aggregated etc. There are no pull down, select, draggable items nothing.
- pivotUI()  (used here) is the high level interface. It is in fact a dictionary

[2015-03-17 02:22] happyshows commented on #12
@smartinsightsfromdata  thanks for the details. Let me explain why I think of this idea:
I intended to use db connection + rpivotable + shiny. This solution is very generic and will mean a lot for reporting purpose, simply because excel is not a good way to reproduce a simple analysis.

I'd say in my organization, more than 50% reporting needs from regular business users can be solved with this so

[2015-03-17 03:38] mostly-harmless commented on #13
Thanks! The C3 renderers are a very nice addition

[2015-03-17 06:10] smartinsightsfromdata commented on #12
@nicolaskruchten from an integration standpoint, as mentioned above, pivotUI() is the "right" integration end point for R.
On the other hand I understand @happyshows use case. The ability to get the "current" set of reporting parameters (including any filtering etc.) is interesting, maybe through a call-back?
Let me know if you would like me to submit a feature request on pivottable.

[2015-03-17 08:57] mostly-harmless commented on #14
Excellent. Thanks. I decided to submit my app to CRAN. FWIW Hadley's book on R-packages was very usefull: http://r-pkgs.had.co.nz/release.html

[2015-03-17 13:11] nicolaskruchten commented on #12
there is the `onRefresh` callback already... the example is here: http://nicolas.kruchten.com/pivottable/examples/onrefresh.html

[2015-03-23 19:35] smartinsightsfromdata commented on #15
@williamjwest  I assume I can close this issue now.

[2015-03-23 19:35] #15 closed

[2015-03-23 19:36] smartinsightsfromdata commented on #12
OK @happyshows this goes on my TODO list.

[2015-03-23 21:25] happyshows commented on #12
@smartinsightsfromdata  cool, many thanks.

[2015-04-01 18:34] dnchari opened #16 "How do we use this in R shiny application?"
I would like to know what are the functions to use `renderChart2` and `showOutput('name','rpivotTable')`

[2015-04-02 18:11] smartinsightsfromdata commented on #16
@dnchari there is a shiny example in the folder examples. Let me know if you have any issue with it.

[2015-04-11 22:57] #16 closed

[2015-04-13 18:46] steventroysimpson opened #17 "sorting value labels for factors in Tables"
Hi I'm really impressed with your implementation of pivot tables. I just have a bit of cosmetic issue: I'm trying to get output for a low/medium/high factor variable to have tabular out put that prints in the right order instead of alphabetical: high/ low/ medium

I saw in [nicolas.kruchten's example](http://nicolas.kruchten.com/pivottable/examples/montreal_2014.html) where he tries to sort the la

[2015-04-13 22:19] vnijs commented on #14
Any updates on the CRAN time-line? Thanks Enzo

[2015-04-15 01:40] vnijs opened #18 "drag-and-drop stopped working with latest htmlwidgets, shiny, etc."
See https://github.com/rstudio/DT/issues/22 (last comment)

[2015-04-15 05:20] yihui commented on #18
I don't know where the breakage came from. This minimal example still works fine:

[code]

I'm afraid it will be a little difficult to debug your specific app due to its scale https://vnijs.shinyapps.io/marketing/ The error in the JavaScript console seems to indicate that there were issues with jQueryUI. FWIW, shiny uses a tailored version of jQueryUI 1.10.4 and this package uses 1.9.4: https://gi

[2015-04-15 05:51] vnijs commented on #18
Your example does indeed still work. I will see what I can find out and will check with @smartinsightsfromdata

[2015-04-15 06:51] smartinsightsfromdata commented on #18
@vnijs   I've just tested the shiny example (Canadian election) that goes with the package and works fine.
I have:
- shiny 0.11.1.9004
- rpivotTable 0.1.3.4 (and the last changes I made were largely cosmetic)
- jsonlite 0.9.16
- htmlwidget 0.3.3

As my wrapper basically pass the data to the pivottable, it looks like a possible conflict due to jQueryUI.
I have used the same libraries used by Nicola

[2015-04-15 06:54] vnijs commented on #18
It seems there was also a version of jquery-ui in Radiant. Once removed everything works fine. Sorry to waste your time

[2015-04-15 07:09] #18 closed

[2015-04-15 07:09] smartinsightsfromdata commented on #18
@vnijs no problem!

[2015-04-15 07:12] vnijs commented on #18
Nice of you to say that Enzo

On Wed, Apr 15, 2015 at 12:10 AM, Enzo <notifications@github.com> wrote:

[2015-04-15 07:20] #13 closed

[2015-04-15 07:29] smartinsightsfromdata commented on #17
@steventroysimpson
It would be useful if you could show me a data example to better understand what you are aiming for.

Anyway, I haven't implemented the data formatter available in pivottable. If you look through pivottable issues, you'll see that the issue of dates is not straightforward - but probably you know it already from your R experience :)
I am very reluctant to add very complex code th

[2015-04-15 15:12] yihui commented on #18
Thanks @smartinsightsfromdata. As I said, I'm a little worried about the jQuery UI library included in shiny, because currently it has excluded the slider component (https://github.com/rstudio/shiny/issues/799). But if you use a higher version than shiny's jQuery UI, htmlwidgets will choose your version.

[2015-04-22 12:15] pangleafrancis opened #19 "No scrolling in large pivottable"
When I create a pivottable with a lot of rows / columns, It is not possible to scroll.  I tested this in rstudio and in shiny.  Result is the same;

[2015-04-22 12:20] smartinsightsfromdata commented on #19
@pangleafrancis could you kindly post a reproducible example, maybe with the diamonds dataset?

[2015-04-22 12:47] pangleafrancis commented on #19
On Wed, Apr 22, 2015 at 2:20 PM, Enzo <notifications@github.com> wrote:

Hmmm...  It seems to work under shiny but not under shinydashboard.  It
might be a bug in that package.  Could you have a look anyway?

Thx,
Tom

ui.R

# This is the user-interface definition of a Shiny web application.
# You can find out more about building applications with Shiny here:
#
# http://shiny.rstudio.com
#

librar

[2015-04-23 22:07] smartinsightsfromdata commented on #19
@pangleafrancis See [here](https://github.com/rstudio/shinydashboard/issues/8)

This works:

[code]

[2015-04-23 22:07] #19 closed

[2015-04-24 08:20] pangleafrancis commented on #19
On Fri, Apr 24, 2015 at 12:07 AM, Enzo <notifications@github.com> wrote:

Thanks!

Height however seems to be about half of the page now.  I have tried
several different css options, but he does not seem to accept the height
property.  Could you give pointers on where to look?

thanks again,
Tom

--
*Tom Francis*
Francis Consulting BVBA
Hoveniersstraat 24
2840 Rumst
+32 473 273 057

[2015-04-24 10:33] smartinsightsfromdata commented on #19
@pangleafrancis Try:
[code]

```"520px"``` is the maximum you can go in shinydashboard without breaking alignment with the other components. If you need more, or more flexibility in length, I would consider whether shinydashboard is the right approach, vs vanilla shiny.

[2015-04-24 11:29] pangleafrancis commented on #19
On Fri, Apr 24, 2015 at 12:33 PM, Enzo <notifications@github.com> wrote:

Works perfectly.  Thanks!

--
*Tom Francis*
Francis Consulting BVBA
Hoveniersstraat 24
2840 Rumst
+32 473 273 057

[2015-04-24 17:09] happyshows commented on #12
@smartinsightsfromdata Hi, any update on this thread? If possible, could you provide an ETA for completion? I'd like to plan whether this package will be on next phase of my project or not....

[2015-05-03 03:31] nicolaskruchten opened #20 "Upgrading to PivotTable.js 1.4.0"
FYI I just released a new version (1.4.0) of PivotTable.js which includes more C3 support, like a proper Area Chart and (finally) a Scatter Chart. I've also got an example of it where you can select any of the 700+ datasets that ship with R :)  http://nicolas.kruchten.com/pivottable/examples/rcsvs.html

[2015-05-06 09:11] DangerCatTV opened #21 "rpivotTable not rendering in Shiny"
Just wanted to start by saying that this package is great! rpivotTable works so well within Rstudio - I'm just having some problems getting it to work with Shiny.

I'm using some of your code as a test (see below). The issue is that when I run the code a webpage appears but without the pivot table. I'm using R 3.2.0, shiny 0.11.1 and rpivotTable 0.1.3.5. I've tried uninstalling and then reinstalli

[2015-05-06 12:17] happyshows commented on #21
version of htmlwidgets?

[2015-05-06 12:19] DangerCatTV commented on #21
htmlwidgets_0.3.3

[2015-05-06 12:54] happyshows commented on #21
I remember I have problem with the 0.3.3 for multiple packages based on htmlwidgets, because author switched to jsonlite. Can you try to install 0.3.2 from cran instead?

[2015-05-06 14:25] smartinsightsfromdata commented on #21
I tried your code and it works fine on my laptop (no need for the "alone" rpivottable statement: as it is outside of shiny it will render in RStudio).

@happyshows is correct: shiny and htmlwidgets need to be aligned, otherwise there will be problems (with any of the htmlwidgets, potentially).

Therefore, either you use CRAN version for both, or you use github version of both. Please let me know h

[2015-05-06 14:30] DangerCatTV commented on #21
I'm not sure why shiny 0.11.1 wasn't working but I (literally just now) fixed the problem by upgrading to shiny 0.11.1.9004. Crazy that such a small thing could make such a big difference.

Thanks for all the help!

[2015-05-06 14:30] #21 closed

[2015-05-10 18:12] smartinsightsfromdata commented on #20
@nicolaskruchten I've upgraded to the 1.4.0  version. Thanks for the notification :)

[2015-05-10 18:12] #20 closed

[2015-05-10 18:14] smartinsightsfromdata commented on #17
@steventroysimpson let me know if I can close this (I'll close it unless I hear from you in the next couple of days).

[2015-05-10 18:35] steventroysimpson commented on #17
Close it. There's no resolution but it's not ur problem. Thnx

~ Steve

Sent via telepathy

[2015-05-10 18:40] smartinsightsfromdata commented on #17
thanks

[2015-05-10 18:40] #17 closed

[2015-05-11 00:21] nicolaskruchten commented on #20
Great! Actually I released version 1.4.2 yesterday, which has a few nice charting fixes since 1.4.0 so I would recommend upgrading to that one. Should be the last release for the next little while :)

[2015-05-11 08:20] smartinsightsfromdata commented on #20
@nicolaskruchten I think I've updated to 1.4.2 (i.e. this version of rpivottable is updated to the latest code commits).  May I suggest to put the release # in the README so that it becomes very visible?
I will make explicit reference to the pivottable release in the next version of rpivottable.

[2015-05-11 14:00] nicolaskruchten commented on #20
OK great. Sorry about this, but I just found and fixed a bugin 1.4.2 (which affects charts with values between 0 and 1)  so I just pushed out 1.4.3. I recommend upgrading to 1.4.3 if at all possible.

[2015-05-11 14:30] smartinsightsfromdata commented on #20
@nicolaskruchten No problem.  I'll do it later today.  Thanks!!

[2015-05-19 11:00] gonzmg88 opened #22 "Confict with dateRangeInput"
Hi,
I have upgraded the package and I have found conflicts with shiny's `dateRangeInput` (`dateInput` has the same problem). It seems to be some javascript confilct.

[code]

Thanks for your help!

[2015-05-19 14:06] panlanfeng opened #23 "unable to change the width and height"
The width of line chart cannot be changed. Setting the `width` parameter  doesn't change anything.

[2015-05-19 14:26] smartinsightsfromdata commented on #23
@panlanfeng not sure what you mean:  width in general changes the width of the widget.
On the other hand rpivotTable size is not "easily" confined to a particular size: it depends on the number of categories you have on columns or rows.
And, just to clarify, the way to change the width of  a line chart would changing css (if you really want to get into that...).

[2015-05-19 14:42] smartinsightsfromdata commented on #22
@wch @yihui  shiny 0.12 is not out (yet!).  On the other hand I too get:
[code]
I assume this is to maintain alignment with the jsonlite version of shiny and htmlwidgets?

Any suggestion please?

[2015-05-19 14:50] wch commented on #22
It is out, though binary packages might not be available on all platforms. You might need to do install.packages('shiny', type='source').

See http://cran.r-project.org/web/packages/shiny/index.html

[2015-05-19 14:50] panlanfeng commented on #23
How to set the width paramter?
My code is:

     iris %>%
     tbl_df %>%
     filter( Sepal.Width > 3 ) %>%
     rpivotTable(rows="Sepal.Length", cols="Sepal.Width", width="40%", rendererName="Scatter Chart")

and this doesn't change the width.

I am using it together with `knitr`. The chart can go out of screen. If change css, which file should I work on? Can you give a hint? I am not very famil

[2015-05-19 14:54] gonzmg88 commented on #22
Hi,
These are my packages via `devtools::session_info()`
[code]
I tried too with `htmlwidgets` and `shiny` github versions with the same result.

[2015-05-19 16:19] yihui commented on #22
@smartinsightsfromdata The binaries seem to be available from the CRAN main site now. They should be moving to other mirrors in the next few days.

This looks like an issue related to https://github.com/rstudio/shiny/issues/799 rpivotTable uses 1.11.4, and shiny uses a tailored version of 1.10.4.

[2015-05-19 16:48] smartinsightsfromdata commented on #22
@wch @yihui thanks guys!  After downloading ```shiny 0.12``` everything works for me now.

This is my sessionInfo
[code]

[2015-05-19 17:12] smartinsightsfromdata commented on #23
@panlanfeng I understand your issue better and I'm not sure that I have a solution for you.

See [here](https://github.com/smartinsightsfromdata/rpivotTable/issues/19) for a way to create a scrolling capability for rpivotTable within a precisely sized window (in the example shinydashboard).  Not sure if it will work with knitr (but please let me know if it does!).

[2015-05-19 17:23] panlanfeng commented on #23
I was putting `rpivotTable` function within `knitr` chunk directly and the table was too large.
After I change to  `shinyApp(ui = ui, server = server)` approach as the [example](https://github.com/smartinsightsfromdata/rpivotTable/blob/6f04935f384fa1fec04d058b988c9f9ae9e91b22/inst/examples/canElections-shiny.R), it works well.

Not yet tried to add scrolling capability. I will report the result he

[2015-05-19 17:25] yihui commented on #22
I can still see the error from the JS console, though:

[2015-05-21 05:27] vnijs commented on #14
Any updates on the CRAN time-line? Thanks Enzo

[2015-05-21 08:20] smartinsightsfromdata commented on #22
@yihui would you be so kind to try again - (possibly refreshing rpivottable, htmlwidgets and shiny)?

I do not get the error you are referring to.

I do get the "typical" error referring to the missing favIcon.ico (fixable adding a www folder and a proper favicon):
[code]

[2015-05-21 15:34] gonzmg88 commented on #22
Hi,
I still have the error in rstudio navegator:
[code]
In chrome:
[code]
[code]

[2015-05-21 22:05] smartinsightsfromdata commented on #22
@gonzmg88 apologies for the inconvenience.

I've just pushed a new rpivotTable version 0.1.4.1 which is:

- aligned to shiny as far as jquery (v1.11.0) and jqueryui (v1.10.4)
- aligned to pivottable version as far as 1.4.3

With this version there are no errors and the ```dateRangeInput``` value are displayed correctly (but you get the error for missing ```favIcon.ico``` - this should disappear if

[2015-05-24 14:09] smartinsightsfromdata commented on #22
@gonzmg88 please let me know if you still have problems, otherwise I'll close this issue.

[2015-05-24 17:06] gonzmg88 commented on #22
@smartinsightsfromdata it works now, thank you!

No need to apologize, thank you for your work!

[2015-05-25 09:53] #22 closed

[2015-05-29 14:13] YvesCR opened #24 "issue with htmlwidgets & shiny server"
I am trying to run a shiny app including a rpivottable.

my config: devtools 1.8.0, htmlwidgets 0.4.2, rpivotTable 0.1.4.1, shiny 0.12.0

R version 3.1.2 (2014-10-31)

Ubuntu 14.04.1 LTS

My code works perfectly locally, but on the server it crash and I get this error on the console:
TypeError: x is undefined

And it links to this code:

HTMLWidgets.widget({

    name: 'rpivotTable',

    type: 'o

[2015-05-29 21:27] smartinsightsfromdata commented on #24
@YvesCR I'm perplexed.  I've run your code on my macbook pro without problems.  I do get the "usual" error about missing favIcon.  See https://github.com/rstudio/shiny/issues/833. The "usual" way to eliminate the issue is to have a ```www``` folder with a ```favIcon.ico```.

Could you kindly:
- paste your ```sessionInfo()``` after you  had the error
- paste the exact JS error from the error consol

[2015-06-01 09:44] YvesCR commented on #24
Hi,

sorry to bothered you.

I am using AWS and upgraded the instance from t2.micro to t2.small and it solved the issue :)

Probably it comes from the size of the RAM.

best,

[2015-06-01 09:44] #24 closed

[2015-06-12 10:16] smartinsightsfromdata commented on #23
I will close this for now.  @panlanfeng  Let me know if you want me to re-open it.

[2015-06-12 10:16] #23 closed

[2015-06-18 00:04] KatRisk opened #25 "height and width parameters"
are these active in rpivotTableOutput? They don't seem to make a difference. Is there another way to control the size of the table?

[2015-06-18 00:28] KatRisk commented on #25
Odd, I just saw all the other comments about height and width inside Shiny. They don't seem to work for me.

[2015-06-18 00:43] #25 closed

[2015-06-18 00:44] KatRisk commented on #25
just read through all the other comments, this doesn't work with box() in shinydashboard - that was my problem.

[2015-06-27 17:22] PKBibi opened #26 "Can't Install using Rstudio on PC running Windows 7"
Can you help please.

I can't install rpivotTable on a windows 7 pc (RStudio Version 0.99.447).

Here is the output I get:

Installing htmlwidgets
Installing 1 packages: yaml
package ‘yaml’ successfully unpacked and MD5 sums checked
"C:/Program Files/R/R-32~1.1/bin/x64/R" --no-site-file --no-environ --no-save --no-restore CMD  \
  INSTALL  \
  "C:/Users/PK/AppData/Local/Temp/RtmpCEscPS/devtoolse68

[2015-07-06 07:27] smartinsightsfromdata commented on #26
@PKBibi  apologies for taking so long to reply.  Could you kindly try to install first of all **only** htmlwidgets (from CRAN) as a source?

[code]

Once successful you can try as usual:

[code]

The reason for this is to make sure you have all the proper tools in the windows environments and eliminate that as a cause of your issue.

[2015-07-08 13:25] williFiebranz commented on #12
Dear Nicolas,

can you give an example how I would use the onRefresh argument from within a shiny app in order to get the JSON that describes the current state of the pivotTable?

Thank you and good bye

[2015-07-08 13:40] smartinsightsfromdata commented on #12
@williFiebranz   the ```onRefresh``` callback is currently not implemented in rpivottable.

[2015-07-08 13:42] williFiebranz commented on #12
Okay, thanks for the quick reply. Is this feature planned to be implemented at some point?

[2015-07-09 08:04] smartinsightsfromdata commented on #12
@williFiebranz to implement this feature is a bit tricky, mainly because relies on a call back.  Htmlwidgets has a minimal callback ability (I've used it for another widget), but is going to get a bit of time to get it right.
I may have more time in August, but I will accept pull requests if anybody has more time.

[2015-07-09 08:13] williFiebranz commented on #12
That sounds great!

[2015-07-09 17:02] Rustastra opened #27 "Cumulative sum?"
Hi, I am not very good with JavaScript. Could you please help me create CumSum functionality? Thank you!

[2015-07-10 11:30] smartinsightsfromdata commented on #26
@PKBibi Any news on your problems? Can I close this issue? Thanks for letting me know

[2015-07-10 12:25] smartinsightsfromdata commented on #27
@Rustastra I'm very sorry but rpivotTable works with the out-of-the-box aggregators in pivottable.
If you are using R you would be better off building CumSum in R and use either core functions (e.g. table) or external packages to display your results.

Alternative you could ask @nicolaskruchten to add CumSum to the (already very rich) number of aggregators available.

[2015-07-12 15:15] smartinsightsfromdata commented on #26
Closing for now...

[2015-07-12 15:15] #26 closed

[2015-07-12 15:22] PKBibi commented on #26
Hi Enzo

Apologies for not getting back to you earlier.

Yes you can close this.

I found out that because R was installed in "programs files" directory, I
could not install packages from github with devtools.

By un-installing R and re-installing in a separate directory (not the
default program files directory), this problem has been solved.

If you get this question a lot, perhaps ask them to ch

[2015-07-12 21:44] smartinsightsfromdata commented on #27
Closing for now...

[2015-07-12 21:44] #27 closed

[2015-07-14 09:06] smartinsightsfromdata commented on #25
@KatRisk Interestingly I'm having problems in sizing a shinydashboard box with another widget, rhandsontable.

The only way to work properly is to set box `height` and `width`.  Set up scrolling is (almost) mandatory, as depending on the analysis you could have loads of columns to appear in a dynamic, unpredictable fashion.

See the example below (and my apologies for not understanding your issue

[2015-07-14 09:58] smartinsightsfromdata commented on #19
For potential users of `rpivotTable` (but the same, as I'm discovering, applies to other widgets) and `shinydashboard`, it is advisable to create a box with ad hoc `width` and `height`.

Then the box itself can be made scrollable:

[code]

[2015-07-28 08:42] maciejorlos opened #28 "Rstudio hang after using sqldf package with rpivottable"
I am working on ubuntu 14.04 and  after putting such code:

    require(sqldf)
    require(rpivotTable)
    data(mtcars)
    rpivotTable(mtcars)
My rstudio hangs

[2015-08-07 13:53] psanchez1982 opened #29 "Gathering the results from analysis"
Is there a way to save the results from analysis over the pivot table to a Data Frame? It would be very useful. Today the analysts create a lot of SQL queries or use Excel, with your Pivot Table they can use it and write it on a SQL Table or export to an Excel spreadsheet.

[2015-08-08 11:54] mariellasca commented on #26
Hello

can anyone help me with this errors? I cannot manage to install rpivotTable...Thanks

Downloading github repo ramnathv/htmlwidgets@master
Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) :
  there is no package called ‘stringi’

Downloading github repo smartinsightsfromdata/rpivottable@master
Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]

[2015-08-10 11:20] smartinsightsfromdata commented on #26
@mariellasca have you tried to load the package ```stringi``` on its own first?

```stringi``` is used by a number of packages, including ```stringr```, which in turn is used by ```devtools``` etc..

R sometime does not seem to install dependencies (or is not doing it recursively), possibly when the Repo is not specified (see [here](http://stackoverflow.com/questions/14171148/how-to-tell-cran-to-i

[2015-08-10 11:29] smartinsightsfromdata commented on #28
@maciejorlos it works for me on my OS X yosemite laptop.

I'm using ```RStudio```  0.99.467
Could you kindly post your ```sessionInfo()```?

Thanks

[2015-08-10 18:43] mariellasca commented on #26
Yes, but that was not enough, I installed the last version of R and then it worked. Thanks

[2015-08-12 10:33] hornelius opened #30 "cannot coerce type 'closure' to vector of type 'character'"
Good morning,

I've tried following the rpivotTable example from an article I read on LinkedIn, but I'm getting this error when I call the rpivotTable function.

The code (as on LinkedIn) is:

## Install packages
library(devtools)
install_github("ramnathv/htmlwidgets")
install_github("smartinsightsfromdata/rpivotTable")
## Load rpivotTable
library(rpivotTable)
data(mtcars)
## One line to create pi

[2015-08-14 11:22] tvmanikandan opened #31 "too many to list"
Hello,
When the Number of types/values for a variable I get the error "too many to list" when trying to select. Please help on this.

-Mani

[2015-08-17 07:52] aleszib commented on #30
I also have this error:
rpivotTable(mtcars)
Error in as.character(tools:::httpdPort) :
  cannot coerce type 'closure' to vector of type 'character'

Below is my session info:

R version 3.2.1 (2015-06-18)
Platform: i386-w64-mingw32/i386 (32-bit)
Running under: Windows 7 x64 (build 7601) Service Pack 1

locale:
[1] LC_COLLATE=Slovenian_Slovenia.1250  LC_CTYPE=Slovenian_Slovenia.1250
[3] LC_MONETARY

[2015-08-19 20:59] smartinsightsfromdata commented on #31
@tvmanikandan could you be so kind to publish a reproducible example? Thanks

[2015-08-19 21:09] smartinsightsfromdata commented on #30
@aleszib I am sorry but I am not able to reproduce the problem.  I'm using an apple mac.

It seems that the main difference is in the OS and in the locale (which makes it tricky to debug!)

See below my sessionInfo()

[code]

[2015-08-20 09:38] aleszib commented on #30
Thank you for your reply.

With some searching I found out that the error is no related to this
package. It was caused by the the RStudio versions (too old) that was not
compatible with my R version.

Best,
Aleš

On Wed, Aug 19, 2015 at 11:09 PM, Enzo <notifications@github.com> wrote:

[2015-08-20 09:42] smartinsightsfromdata commented on #30
thank you for letting me know.

[2015-08-20 09:42] #30 closed

[2015-08-20 09:45] smartinsightsfromdata commented on #31
@tvmanikandan  can you post your ```sessionInfo()``` data?

Can you please check if you have the latest version of RStudio?

Apparently an older version (see #30) can create problems to the widget.

[2015-08-20 10:02] hornelius commented on #30
Thanks for this - works for me too now!

[2015-08-21 08:21] smartinsightsfromdata commented on #28
@maciejorlos see #30: older versions of RStudio may cause problems.

[2015-08-27 13:54] smartinsightsfromdata commented on #31
I'm closing for now - until proper `sessionInfo()` and a reproducible example are available.

[2015-08-27 13:54] #31 closed

[2015-08-27 14:00] smartinsightsfromdata commented on #29
@psanchez1982 I am not very clear on your point(s).

- The enhancement relative to the ability to store some of the analysis is documented in #12 (and in this respect this is a duplicate of #12 .  I haven't got much time so far to work on this but it is on my plan.

- On the other hand this tool is not designed to save to Excel or anything similar. If you have similar needs perhaps you should cons

[2015-08-27 14:00] #29 closed

[2015-08-27 14:01] smartinsightsfromdata commented on #28
I'm closing it for now: I need proper sessionInfo() and a reproducible example.

[2015-08-27 14:01] #28 closed

[2015-08-31 16:43] holstius commented on #25
Is there a good way to enclose an `rpivotTable` widget in a `DIV` or other element that will resize with the widget? Otherwise, my first `rpivotTable` (in an `.Rmd` document) will generally overlap the next one, making it unreadable. :-/

Maybe there is, or could be, some sort of provision for a callback that will fire when the `rpivotTable` widget resizes?

[2015-08-31 16:56] smartinsightsfromdata commented on #25
@holstius  Frankly I do not see a solution for this.

As with any respectable pivot table, it is impossible to predict how many rows or columns an analysis will require.  It is now very possible to have say >100 columns if your categorical variable it is so designed.

How would a similar resize would look like? Probably smaller than a stamp...

This is why in my modest opinion the best solution is

[2015-08-31 19:23] psanchez1982 commented on #29
Well. It could be very useful. You have a very powerful tools that can
compete with SAS.

Regards,

Patricio Sanchez Alvial
Ingeniero Civil Informático
Cel: 78774916

On Thu, Aug 27, 2015 at 11:00 AM, Enzo <notifications@github.com> wrote:

[2015-08-31 19:51] holstius commented on #25
If I look at the HTML, after it's done rendering, there's a "width" and "height" in the CSS attributes of the container. Something is calculating those once. Couldn't it calculate them again?

[2015-09-28 21:21] songyurita opened #33 "An error occurred rendering the PivotTable results."
Hi,

Thanks for providing this great package. It works very well in Rstudio, however, when I want to use it in shiny, it gave me this error for chart:
An error occurred rendering the PivotTable results.

Pivot table was working but all the charts gave me the error. How can I fix it?

My code:
ui:
tabPanel("Daily Result",rpivotTableOutput("test"))

server:
 output$test <- renderRpivotTable({
   tt<

[2015-09-29 00:24] songyurita commented on #33
nvm, I fixed it, it can't be used together with rchart nvd3

[2015-10-15 11:48] smartinsightsfromdata commented on #33
@songyurita sometimes there are indeed conflicts related to the supporting libraries used in some of the widgets.  You should be safe using shiny of course is the first thing I check :) and the other htmlwidgets-based widgets, but anything else it may not work.
I have an open request on ggvis and shiny github issues for a jquery-ui incompatibility problem I'm currently having with ggis.

Maybe @ra

[2015-10-15 16:55] alexdeng opened #34 "pandoc error 67 when using rmarkdown with rpivottable"
Got this error:

/home/expat/R/x86_64-pc-linux-gnu-library/3.2/rpivotTable/htmlwidgets/lib/jqueryui/images/animated-overlay.gif: openBinaryFile: does not exist (No such file or directory)
Error: pandoc document conversion failed with error 67

it looks like the whole image folder is not there and pandoc somehow needs it

pandoc commandline (used knit HTML from rstudio)
/usr/bin/pandoc +RTS -K512m

[2015-10-15 18:48] smartinsightsfromdata commented on #34
@alexdeng Could I have a reproducible example please?

[2015-10-15 18:52] smartinsightsfromdata commented on #34
Just found this issue - perhaps related?
https://github.com/rstudio/rmarkdown/issues/419

[2015-10-17 15:39] smartinsightsfromdata commented on #33
@songyurita sadly no help so far.  I will close in two days if there is no further action requested.

[2015-10-19 18:00] steadyfish opened #35 "Shiny: Change in radioButtons does not refresh/update the rpivotTable"
I am trying to use `shiny::radioButtons` to update/refresh a pivot table (i.e. change initial rows/columns/variables setting), but that doesn't seem to be working.

In the below `shiny` app, when you change the input based on radioButtons it does not get reflected in the `rpivotTable` output. It stays the same regardless.

Do you know if there's anything wrong in this code? or is it even possible

[2015-10-23 12:54] smartinsightsfromdata commented on #33
@songyurita  it seems that ggvis and shiny are going to converge very soon on a newer version on jquery-ui.  I'll keep you posted.  This should address this.

[2015-10-23 12:55] smartinsightsfromdata commented on #34
close - ready to re-open as soon as I get a reproducible example

[2015-10-23 20:11] wch commented on #33
FYI, the dev version of shiny and ggvis now have a full build of jQueryUI 1.11.4.

[2015-10-23 20:16] smartinsightsfromdata commented on #33
@wch great stuff Winston!  Many thanks!

[2015-10-23 20:16] #33 closed

[2015-10-23 20:18] smartinsightsfromdata commented on #34
@alexdeng  I've just fixed this problem in the dev branch.  Please look for the next release.

[2015-10-23 20:21] smartinsightsfromdata commented on #35
@steadyfish  I've fixed the problem in the dev branch.  Please wait a bit for the release.

[2015-10-23 21:50] smartinsightsfromdata commented on #35
@steadyfish I still have conflicts with shiny date picker (a jquery-ui issue).  Please test the change in the dev branch.  It worked for me :)

[2015-10-23 21:51] smartinsightsfromdata commented on #34
@alexdeng Please check on the dev branch.  I cannot merge at the moment as I still have a conflict with shiny date picker (due to a jquery-ui conflict)

[2015-10-24 06:38] alexdeng commented on #34
Thanks @smartinsightsfromdata ! I'll let you know once I tried it. Looks from the commit the missing files are added so I guess it will be resolved.

[2015-10-24 10:10] smartinsightsfromdata commented on #35
@steadyfish this is now in master as v. 0.1.5.4  Thanks for pointing this to me.

[2015-10-24 10:10] #35 closed

[2015-10-24 10:11] smartinsightsfromdata commented on #34
@alexdeng I committed to master the relative changes. Thanks for your report!

[2015-10-24 10:11] #34 closed

[2015-10-24 21:20] steadyfish commented on #35
@smartinsightsfromdata Tested, worked for me as well :)

Thank you for building and maintaining this R package!

[2015-10-26 02:11] dkilfoyle commented on #12
Kudos to smartinsightsfromdata, pivottable.js and ramnathv for a great tool. I also wanted to extract data from the pivottable. Here is one way:

Append these two lines of code in rpivottable.js just before the call to pivotUI:
[code]
Then in your R call to rpivottable add an option:
[code]
Here is an example shiny app that prints the selected columns:
[code]

[2015-10-26 09:09] smartinsightsfromdata commented on #12
@dkilfoyle this looks fantastic.  Too bad I submitted the current version just yesterday night to CRAN!

I'll post the version on github on a dev branch later today.  I cannot re-submit to CRAN till I hear from them.

[2015-10-26 17:54] smartinsightsfromdata commented on #12
@williFiebranz @happyshows
I've posted on stackoverflow (for the time being) an example about this functionality (a bit more complete than @dkilfoyle one, but I am still not completely satisfied about it).
The code is for the time being on the dev branch (see stackoverflow for details).

Any comment is welcome, especially on how to use it for the greater good...

Again, thanks to @dkilfoyle that c

[2015-10-26 21:00] happyshows commented on #12
@smartinsightsfromdata thanks, could you post a link to the stackoverflow page?

[2015-10-26 21:13] smartinsightsfromdata commented on #12
@happyshows  gosh!.  I forgot the most important thing. So sorry.

[Here is the link](http://stackoverflow.com/questions/33214397/download-rpivottable-ouput-in-shiny/33352302#33352302)

[2015-10-26 21:15] smartinsightsfromdata commented on #17
@steventsimpson the current implementation has got a sorter now, working in a similar way to what you wanted.  Apologies it took so long.

[2015-10-26 21:18] smartinsightsfromdata commented on #29
@psanchez1982 The feature you requested is now experimentally available.  See issue #12 at the very end of the thread.
[There is a comment in stackoverflow also](http://stackoverflow.com/questions/33214397/download-rpivottable-ouput-in-shiny/33352302#33352302)

[2015-10-27 00:03] steventsimpson commented on #17
Thnx!

~ Steve

Sent via telepathy

[2015-10-27 08:35] smartinsightsfromdata commented on #12
Changes now in master.  I've put among the examples the shiny code.  Thanks again to @dkilfoyle

[2015-10-27 08:35] #12 closed

[2015-10-27 16:22] smartinsightsfromdata commented on #14
@vnijs on CRAN from today.   Thanks for your patience.

[2015-10-27 16:22] #14 closed

[2015-10-28 01:08] dkilfoyle commented on #12
Welcome :-) Thanks for bringing this great library to R.

Sent from my Samsung Galaxy smartphone.-------- Original message --------From: Enzo <notifications@github.com> Date: 26/10/2015  22:35  (GMT-10:00) To: smartinsightsfromdata/rpivotTable <rpivotTable@noreply.github.com> Cc: dkilfoyle <dkilfoyle@xtra.co.nz> Subject: Re: [rpivotTable] Is there any way to fetch the actual values on UI
  and sav

[2015-10-29 17:19] King23 opened #39 "Y-axis for the charts are not displaying properly in iframe"
Hi @smartinsightsfromdata,

This package is really awesome, like it very much! Recently i am using this package to display the data by using line chart and it is working fine in Shiny. But when i link this shiny page to another website (using php) and display in that website's iframe, the Y-axis getting crazy and the interval between the Y-axis value label is very huge causing the Y-axis very long

[2015-10-31 02:06] King23 commented on #39
Update: i switched the iframe scrolling to 'Yes' instead of 'No', the Y-axis of the line charts is now properly plotted. The problem is solved, but it will be great if can understand the interaction between the iframe code above with the rpivotTable package. Any advice for learning purposes will be appreciated. THANKS!

[2015-11-02 11:31] langusta opened #40 "rendererName parameter is not working"
Hi,
It turns out that the `rendererName` argument of `rpivotTable` functions doesn't work :(
Here is a screen with example from documentation:
![rpivottable_renderer_notworking](https://cloud.githubusercontent.com/assets/5746281/10880652/301ae88e-815d-11e5-93b3-a144aed97f0c.jpg)

My session info:

[code]

[2015-11-02 12:23] smartinsightsfromdata commented on #40
Apologies @langusta it is a regression happened during the CRAN submission process.

Please download the version 0.1.5.8 from github.  I'll re-submit to CRAN next weekend.
[code]

[2015-11-02 12:23] #40 closed

[2015-11-02 12:31] smartinsightsfromdata commented on #39
@King23 Thanks for the nice words (to be shared with @nicolasKruchten).  Containing this widget in a frame is a challenge.

If you look at the issues in `nicolaskruchten/pivottable` and @nicolasKruchten answers, by design the pivot table is supposed to stretch to the right and to the bottom, depending on the size of categorical variables in  rows and columns.

I have a [pending issue](https://gith

[2015-11-02 12:41] langusta commented on #40
I see. Thank you for quick answer!

[2015-11-02 13:52] King23 commented on #39
@smartinsightsfromdata, no problem. For temporary, i just set the iframe with scrolling enabled and it solved the Y-axis problem for the chart . I really love this rpivotTable, it is amazing as we can view the data from different angle at different range of value on the fly. One suggestions can be considered if possible, to make this package perfect. If a column's value being filtered, the column

[2015-11-03 11:31] langusta opened #41 "exclusions don't work with one column"
Hi,
First of all, thank you for this wonderful package! I have a quite peculiar problem.
I'm trying to use `exclusions` parameter. When I add two columns from which I exclude certain values then everything works (you can see that names of columns are tilted):
![exclusions_two_cols](https://cloud.githubusercontent.com/assets/5746281/10906959/2d96b358-8226-11e5-89fc-d1a0d86dd32b.jpg)
If I use only o

[2015-11-03 11:34] MarcinKosinski commented on #41
+1

[2015-11-03 19:00] smartinsightsfromdata commented on #41
I think it is a perverse effect of the auto_box Map in the code.

While I think of a cleverer way to address this, why don't you simply write:

[code]

It works for me.

[2015-11-03 19:00] #41 closed

[2015-11-03 19:11] MarcinKosinski commented on #41
@langusta maybe you could extend documentation with that example and provide a pull request to this repository?

[2015-11-03 20:31] smartinsightsfromdata commented on #39
@King23 Currently a filtered dimension is shown in italics.  Are you suggesting to associate to the dimension tab another colour, beside italics?

[2015-11-03 23:23] smartinsightsfromdata commented on #41
I've got a better way.  I'll try to integrate it into master tomorrow.

[2015-11-04 14:07] King23 commented on #39
@smartinsightsfromdata, Yes, another colour or bold the text might be more visible compare to italics especially when users having many dimensions. For example, my current use case having total 17 dimensions and ~5000 rows of data, it cause the line chart plotted kind of slow and even moving the shiny page will hang for a while. So, if we can preset the default dimension's value (pre-filter) it wi

[2015-11-04 15:10] smartinsightsfromdata commented on #39
@King23 Version 0.1.5.9 (now on github) has bold for filtered dims.

[2015-11-04 15:10] #39 closed

[2015-11-04 15:13] smartinsightsfromdata commented on #41
Version  0.1.5.9 (now on github) allows single column inclusions / exclusions.

[2015-11-04 15:14] smartinsightsfromdata commented on #39
@King23 you have seen, I assume, latest examples of inclusions / exclusions for pre-filtering?

[2015-11-04 15:20] King23 commented on #39
Wow...i am using ver 0.1.5.8 and just saw the new version uploaded in github 10mins ago. Great...let me try it out. Thanks @smartinsightsfromdata.

[2015-11-04 16:13] King23 commented on #39
The new ver 0.1.5.9 work perfectly fine!!! Appreciate and awesome!!! :+1:

[2015-11-04 17:12] langusta commented on #41
It works indeed. Thank you!

[2015-11-04 19:10] smartinsightsfromdata opened #42 "Make use of `overwrite` explicit?"
@steadyfish @king23  I would appreciate your input (as well as the input of anybody else of course) as users of this package and especially of this functionality.

The way that `pivottable` makes the continuos programming of the pivot table possible is through a parameter called `overwrite`. In Nicolas words:

`overwrite` is a boolean defaulting to false which controls what happens if this functio

[2015-11-06 14:31] King23 commented on #42
Hi @smartinsightsfromdata, i did try to use both TRUE and FALSE overwrite in my code and i don't see any changes to my output. Can you  elaborate a bit more how this parameter affecting the output? Besides, what is the motivation that makes you think to change your current approach (forced TRUE) going to FALSE? thanks.

[2015-11-07 22:07] steadyfish commented on #42
@smartinsightsfromdata makes sense. This would certainly help when working with multiple datasets (or even subsets of data).

Also, agree with your point on defaulting `overwrite = TRUE`.

[2015-11-08 21:36] smartinsightsfromdata commented on #42
@King23 Apologies for the confusion: I still have to make the change!  I am just trying to have some suggestion before actually implementing it...

[2015-11-10 14:22] King23 commented on #42
@smartinsightsfromdata, thanks for clarification. If it is configurable (TRUE/FALSE), i would love to try it out once you made the change. :)

[2015-11-19 21:37] GKyle23 opened #45 "The 'rendererName' argument not working"
Hi there,

I've noticed that the 'rendererName' doesn't work. There is no error thrown, it just always defaults to table no matter what renderer you select.

[2015-11-20 16:44] smartinsightsfromdata commented on #45
@GKyle23 Apologies: it is a book crept into the CRAN submission at the last minute.  I am expecting any day a new version of pivottable that I'll integrate and re-submit to CRAN.

Till such time, would you be so kind to use the github version please?

[2015-11-21 17:23] GKyle23 commented on #45
OK great - thanks

[2015-11-21 17:23] #45 closed

[2015-12-03 09:54] ThoDuyNguyen opened #46 "How I set the number of decimal"
I notice that currently 2-digit decimal is set as default.
Is it possible that I could change this value?

Thank you in advance.

[2015-12-16 10:25] cronacronis opened #47 "Default installation doesn't work with browser path on Linux"
# Example to run
[code]
# Error
[code]
I beleive it is browser dependent problem.
**It should always work with path `file:///tmp/RtmpcvwPCH/viewhtml4a5376c24e63/index.html`**

# Session
[code]

Installation details
[code]

[2015-12-16 18:33] #47 closed

[2015-12-16 18:34] cronacronis commented on #47
Solved by installation of `midori` browser.

[2016-01-14 17:41] nickknauer1 opened #48 "Remove limit of list Category"
I have created an rpivottable and for some of the factors that I want to drag and drop to create tables and graphs, they contain more than 500 factors. Is there a way to eliminate the limit of each factor so that when I click on any option in the pivottable, it will show me a list of the options and from there I can filter out what I want? Currently, when I click on the factors that have too large

[2016-01-15 16:23] smartinsightsfromdata commented on #48
Sadly there isn't an overarching solution to this (you can consult the list of Frequently Asked Questions in the pivottable github page in Nicolas Krutchen pivottable page [here] (https://github.com/nicolaskruchten/pivottable/wiki/Frequently-Asked-Questions) )

I can suggest the following trick though:

- Identify sub-categories  / sub-classes in the data dimensions that are "too large". If there

[2016-01-21 18:54] nickknauer1 commented on #48
I actually found a solution to this. Below is the stackoverflow answer:

http://stackoverflow.com/questions/34793135/rpivottable-being-able-to-list-more-than-allowable-amount/34895345#34895345

[2016-02-08 21:36] steadyfish opened #49 "Using `derivedAttributes` parameter"
Hi,

I am trying to use `derivedAttributes` parameter but haven't been successful. Is it supported in the current version? Could you share an example if it is?

Here's the example I tried -

[code]

In the browser console I see this error -

[2016-06-17 14:04] njburgoyne opened #52 "Interavtivity with shinyFiles"
Hi, great package, I have used it to great effect in a data explorer in our company. So good it was that I have started using it in a second project. Alongside the (multiple) file uploader package shinyFiles (find it on CRAN).

ShinyFiles uses htmlWidgets to pass information between the server and ui. Where one of the htmlWidgets javascript files calls the renderValue js function. Unfortunatly rpi

[2016-06-17 14:12] timelyportfolio commented on #52
@njburgoyne, do you have some minimal sample code?  I'd like to work through this, but I don't have an understanding of `shinyFiles`.

[2016-06-17 14:13] njburgoyne commented on #52
...was just editing

[2016-06-17 14:14] timelyportfolio commented on #52
For reference, the old `htmlwidgets` template uses `renderValue`, so we could possibly fix by using the new template.

[2016-06-17 14:44] njburgoyne commented on #52
Sorry, I think you are right. I may have confused the issue - `shinyFiles` doesn't use `htmlWidgets`. However, there **_is_** crosstalk between the two packages but not where I mentioned it (not a js expert). My bad. Sorry for the redherring.

[2016-06-22 14:34] vskaulgud opened #53 "Export rpivottable output as image"
I recently started using rPivotTable to produce some impressive charts and tables. I am using rPivotTable in a Shiny application. I was wondering if it is possible to export the output of the rPivotTable(Table, Bar chart, line chart etc) as image from the web browser. In RStudio(without Shiny), it can be done as the viewer has an option for Export->Save as Image. Is there any way to save the chart

[2016-07-07 16:46] ElianoMarques opened #54 "Adding multiple metrics"
Hi, is there a way to add multiple summarised attributes? e.g. two mean attributes?

[2016-07-14 02:41] Jiang-Li opened #55 "How to define derived attributes"
I need a derived attribute, which is the ratio of the other two variables. I know PivotTable.js supports the derived attributers. How I can do this in the R package? Thank you very much!

[2016-07-14 02:43] #55 closed

[2016-07-14 02:44] Jiang-Li commented on #49
I also want to know this. Any idea from the developers?

[2016-07-18 17:51] smartinsightsfromdata commented on #54
Hi.  I am not entirely sure of the advantage of doing this within rpivotTable.
R allows to add any type of attribute very easily.
This "ease of use" is not exactly there in javascript, hence the effort of @nicolaskruchten to add derived attributes.  I do not dismiss derived attributes, but I do not see presently their value from an R ecosystem point of view. Awaiting to be convinced :)

[2016-07-18 18:01] smartinsightsfromdata commented on #49
same issue as #54

I am not entirely sure of the advantage of doing this within rpivotTable.
R allows to add any type of attribute very easily. Why would you do it on the client in JavaScript?

This "ease of use" is not exactly there in javascript, hence the effort of @nicolaskruchten to add derived attributes.  I do not dismiss derived attributes, but I do not see presently their value from an R

[2016-07-29 00:50] ebergel opened #56 "How to remove the drag and drop UI interface?"
rpivottable is exposing the tables with a drag'n'drop UI around it, using pivotUI(). Is there any way to remove the UI interface, essentially using pivottable.js  pivot() ?

[2016-07-31 17:57] ebergel commented on #56
found the solution in /inst/htmlwidgets/rpivotTable.js

$('#'+el.id).pivotUI(
      		x.data, x.params, true, x.locale
      );

to
$('#'+el.id).pivot(
      		x.data, x.params, true, x.locale
      );

[2016-07-31 17:57] #56 closed

[2016-07-31 18:02] smartinsightsfromdata commented on #56
Well done @ebergel , thanks!

[2016-08-10 17:16] GaryWMN opened #57 "Version 0.1.5.20 description?"
The [index.html](https://cran.r-project.org/web/packages/rpivotTable/index.html) page on cran.r-project.org references version 0.1.5.20; however, the NEWS.pdf document ([here](https://github.com/smartinsightsfromdata/rpivotTable/blob/master/vignettes/NEWS.Rmd) and on [cran](https://cran.r-project.org/web/packages/rpivotTable/vignettes/NEWS.pdf)) includes references to only Version 0.1.5.9. Where c

[2016-08-22 04:45] ThoDuyNguyen opened #58 "Using rpivotTables in flexdashboard."
When using rpivotTable inside a flexdashboard with a long table, the dashboard could not display correctly. Only fixed viewpoint could be displayed. It would be nice if something like scrollbars appear.

In shiny application, rpivotTable works fine

My declaration for flexdashboard

[code]

[2016-08-23 18:45] voxnonecho commented on #58
You can fix this by adding:

    ---
    title: "Test rpivotTable"
    output:
      flexdashboard::flex_dashboard:
        css: style.css
        orientation: columns
---

And in `style.css`:

    .rpivotTable{ overflow-x: scroll; }

[2016-08-24 03:14] ThoDuyNguyen commented on #58
I'll retest and feedback soon.

Thank you for the help

[2016-08-25 08:21] ThoDuyNguyen commented on #58
@voxnonecho: Your solution fixed my problem. 💯

Case closed.

[2016-08-25 08:21] #58 closed

[2016-08-26 08:27] steadyfish commented on #49
A usecase - When trying to show any statistic other than Simple Average over different groups say variance or median or mode.

Perhaps can also be achieved by writing a custom aggregator?

[2016-09-27 07:56] aruberutou opened #59 "Interface styling options"
Hello, gents,

Excellent work here. I'm working with Shiny. This package has been a godsend, literally. Thank you.

One rough are, however, is related to aesthetics. Any chance for better control over table aesthetics, directly from within R? For example, maximum column sizes or a separable, absolute table for the filters? Also, options to move the legends around would be nice.

I am happy to work

[2016-09-27 18:44] shapenaji commented on #59
On this note, I've been digging into the underlying package, and this appears to be the base CSS, those !important tags are going to make it somewhat rough to restyle here right?:

[code]

[2016-09-27 20:39] smartinsightsfromdata commented on #59
Actually that is not correct (if only!). The `css` code reported above is only for the `C3` renderer used for the `C3` treemap and it is in `rpivotTable.css`.

The actual `css` code is more complex and is  in `pivot.min.css`.

Part of the problem @aruberutou is encountering is that the basic renderers of rpivotTable (pivottable.js) are dynamic.  Suppose you are slicing data by a time dimension wit

[2016-09-27 20:41] #54 closed

[2016-09-27 20:44] smartinsightsfromdata commented on #53
This is a `htmlwidget`, and the issue to save a pic has been discussed in the context of the `htmlwidget` project, with nothing fully conclusive & easy to use.

@timelyportfolio please correct me if I'm wrong :)

[2016-09-28 04:19] aruberutou commented on #59
Wow. Thanks for the comments. Hadn't realised it was all so complex.

Happy to put in the leg work, to make it happen. Any tips?

On 28 Sep 2016 5:39 a.m., "Enzo" <notifications@github.com> wrote:

[2016-09-28 20:25] smartinsightsfromdata commented on #48
@nickknauer1

Thanks and congrats!  I don't know of this possibility myself.

I post it here the solution for future reference:

[code]

[2016-09-28 20:25] #48 closed

[2016-09-28 20:26] smartinsightsfromdata commented on #52
@thomasp85 @njburgoyne

I tried to see if I could see anything untoward. Unfortunately with RStudio Server on OSX (configured with homebrew) & shiny 0.14 I couldn't make the shinyfiles own demo work:

The file button gave error
The folder button showed a directory, but I couldn't click on anything (i.e. I tried with no effects).
Without a proper working demo of shinyfiles I'm stuck.

[2016-09-28 20:26] #52 closed

[2016-09-28 20:34] smartinsightsfromdata commented on #49
@steadyfish  a custom aggregator could be an ideal solution for a `javascript` project. In our case I'm not so sure.

Let's not forget that so far `rpivotTable` takes a standard release from `pivottable` & wraps it around for R...

Keen to hear others' comments...

[2016-09-28 21:21] nicolaskruchten commented on #49
FWIW I feel like the Javascript derived attribute mechanism is a bad fit for the R wrapper. R's ability to mutate and manipulate data frames is so much more powerful than the derived attribute feature of PivotTable.js that I would recommend just adding a column to the data frame before calling the pivot table :)

[2016-09-28 22:22] smartinsightsfromdata opened #60 "New project proposal"
This is a proposal for all interested parties, but especially @jrowen,  @timelyportfolio & @nicolaskruchten  to see if this proposal may wet their appetite.

We have a decent `pivottable` widget with `rpivotTable`, based on `pivottable.js`

I recently discovered that there is a custom project based on `pivottable.js`, that introduces `handsontable` as the base table,  and `highchart`.

The  [Novix

[2016-09-28 22:50] #60 closed

[2016-09-28 22:53] smartinsightsfromdata commented on #60
Apologies for wasting everybody's time: I've just discovered that `highchart` is not open source, but actually quite expensive!

[2016-09-29 06:51] smartinsightsfromdata commented on #59
Sadly `NovixPivotJS`, which I was thinking at as a possible solution, is based on `highchart`, which I thought was open source but it is a paying for graphic library.

[2016-09-29 06:51] #59 closed

[2016-09-29 13:45] nicolaskruchten commented on #60
In fact, `handsontable` is also not open source nor cheap :)

[2016-09-29 13:49] jrowen commented on #60
Handsontable does have a free version,
https://docs.handsontable.com/0.28.1/tutorial-introduction.html, which is
what rhandsontable is built on.  The pro offering is something they
launched more recently.

On Thu, Sep 29, 2016 at 8:45 AM Nicolas Kruchten <notifications@github.com>
wrote:

[2016-09-29 14:15] nicolaskruchten commented on #60
Indeed you're right. Their website doesn't put much emphasis on that, for
obvious reasons ...

On Thu, Sep 29, 2016 at 9:49 AM, Jonathan Owen <notifications@github.com>
wrote:

[2016-09-29 15:14] smartinsightsfromdata commented on #60
@nicolaskruchten would it be very complex to introduce scroll bars in pivottable (with present table or free version of handsontable)?

I'm thinking jupyter / rmarkdown / shinydashboard type of applications...

[2016-09-29 15:28] nicolaskruchten commented on #60
You could probably do it in a couple of lines of jquery to add a css rule
like overflow: scroll...

On Thu, Sep 29, 2016 at 11:14 AM, Enzo <notifications@github.com> wrote:

[2016-09-29 15:34] nicolaskruchten commented on #60
Here you go, just throw this into an `onRefresh` callback:

[code]

[2016-11-28 16:41] pkopps commented on #46
I am also unclear on how to facilitate this

[2016-11-29 15:30] GaryWMN opened #61 "Confirm: "The rpivotTable package depends on the development version of the htmlwidgets package"?"
Does rpivotTable indeed still depend on the development version of the htmlwidgets package?

We are looking at upgrading our htmlwidgets package from 0.7 to 0.8.

[2016-11-29 15:31] GaryWMN commented on #57
Closing due to higher priorities.

[2016-11-29 15:31] #57 closed

[2016-11-29 15:49] smartinsightsfromdata commented on #61
Gary, actually this is not true anymore (it was true when I first developed the package).
I will amend the README.

Thanks for pointing this out: the README is one of those things that you are not re-reading with new eyes from beginning to end every time you submit a new version, but just amend where necessary, with the result that something may slips through.

[2016-11-29 17:03] GaryWMN commented on #61
Excellent! We will proceed with our upgrades. Thanks for replying so timely!

[2016-11-29 17:03] #61 closed

[2016-12-07 23:23] EnricowithR opened #62 "Export the data from rpivotTable in excel"
How can I export the data from rpivotTable in excel?

[2016-12-08 18:49] anu87 opened #63 "Hide Column and Row Totals in Shiny"
Hi! Is there a way to remove the row and totals from the rpivotTableOutput()? My output has 3x8 categories, so the total cells show totals for each category, which I don't want.

[2016-12-10 08:45] smartinsightsfromdata commented on #62
The code below saves a csv.  It works but I didn't tested extensively: any feedback is appreciated.

Please note that the code itself is not particularly optimised.

[code]

[2016-12-10 10:30] EnricowithR commented on #62
Thanks. Is it possible to do that without shiny?

Am Samstag, 10. Dezember 2016 schrieb Enzo :

[2016-12-10 11:20] smartinsightsfromdata commented on #62
The easy answer is no, you need `shiny`: its scaffolding offers the mean to access the web page and get the data displayed.

For example, while you can use `rpivotTable` in `jupyter` with the `R kernel`, `jupyter` does not offer at the moment the mechanism to get the data from `rpivotTable` as we do in `shiny` (of course it could be added in the future).

As an alternative, it would be interesting

[2016-12-10 11:36] smartinsightsfromdata commented on #63
According  to the pivottable Q&A it is possible do what you want changing the css:
[code]
You could in principle fork the package, change the css as above and use the new version: a lot of work!

What would make sense though, would be a way to change the css programmatically, i.e. on the fly.

I'm investigating...

[2016-12-10 13:49] timelyportfolio commented on #63
Perhaps https://github.com/ramnathv/htmlwidgets/issues/231 will help.

[2016-12-10 15:27] smartinsightsfromdata commented on #63
@timelyportfolio great suggestion!

I was hoping to be able to use the JS method described [here](https://github.com/nicolaskruchten/pivottable/issues/500#issuecomment-265812810),
but I haven't been able to change the css on the fly in javascript (see my reply), therefore I'm a bit stuck.

Any further help is very welcome!

[2016-12-12 17:15] anu87 commented on #63
@smartinsightsfromdata I tried it in CSS - I added a style.css file to a folder 'www' in the project folder and then tried to add code that @XavierFlo shared. That didn't work. But if I change/add other things to the file about header and interface, it does change the Shiny output.

[2016-12-14 09:01] smartinsightsfromdata commented on #63
I will give it a try next week, as I will be on hols :)

[2016-12-27 17:41] nicolaskruchten opened #64 "New version of PivotTable.js!"
Just FYI there are some nice improvements in the latest version of PivotTable.js, especially around the filter menu... The API should be unchanged: https://github.com/nicolaskruchten/pivottable/releases

[2017-01-12 08:28] brunelserge opened #65 "conflict with ggiraph ?"
hello

when im using rpivotable and [ggiraph](https://github.com/davidgohel/ggiraph) in a same markdown or shiny app rpivotable graph (ex: barchart) aren't working
it say : An error occurred rendering the PivotTable results. (table and  heatmap are working)

i put a md inside .zip just put the ggiraph part in comment and it's working again

[conflict.zip](https://github.com/smartinsightsfromdata/r

[2017-01-31 13:23] rdatasculptor opened #66 "change_locale() doesn't work for "nl""
I was very happy to notice there was "nl" language support in this brilliant package. However, this setting seems to be the only one that doesn't work. When I do something like this:

`change_locale(rpivotTable(mtcars),"nl") `

nothing happens, no pivottable is being built.

The other mentioned valid languages "es", "fr","pt" and "tr" cause no problems.
Does the "nl"-problem have something to do w

[2017-01-31 15:37] rdatasculptor commented on #66
I found the error.

in the file "pivot.nl.min.js" there is a string that says: "e.pivotUtilities.locales.fr". I think this should be: "e.pivotUtilities.locales.nl" instead.

[2017-02-09 13:54] aditya-kothari commented on #58
@voxnonecho You are awesome man!

[2017-02-15 15:38] frajuegies commented on #64
Dear Nicolas
... would you please indicate which subdirectories I have to replace in the "old" rpivottable library?
Sorry, for the "newbee" question....

Thank you very much in advance
Jürgen

[2017-02-15 19:36] nicolaskruchten commented on #64
Hi Jürgen,

This is something that would need to be done in this repository, rather than on your local machine if you're just using this library... To answer your question, as far as I can tell, it seems like https://github.com/smartinsightsfromdata/rpivotTable/blob/master/inst/htmlwidgets/rpivotTable.yaml needs to be updated and some command needs to be run to update the dependencies, but I'm not

[2017-02-15 19:47] smartinsightsfromdata commented on #64
@frajuegies I will update rpivotTable this weekend - also for a doc issue recently picked up by CRAN :)

[2017-02-15 20:47] frajuegies commented on #64
Nicolas, thank you very much.....that's great

Best regards,
Jürgen

[2017-02-17 09:16] frajuegies commented on #64
@smartinsightsfromdata Thank you for picking this up ! Best regards, Jürgen

[2017-02-23 14:21] frajuegies commented on #64
As I was too curieux to work with numeric filters and regex expressions....
... so I just replaced a directory

Here are my steps....
1. Find the rpivotable directory and change into that subdirectory
you find the (system) libraries by typing .Library in a R command line

2. Rename the dist subdirectory (.... htmlwidgets/lib/pivottable/dist) to "safe" it.

3. Download the repository pivottable as

[2017-02-24 00:04] mubashirqasim opened #67 "Expanding the width of Column containing dataframe column names"
Hi there, this is a great tool for interactive data summary.

My R data.frame has 77 columns which makes the pivot table very long. I was just wondering if there is anyway to expand the width of pivottable column containing the column names or arrange dataframe column names on two or three columns?

Any help in this regard is much appreciated.

[2017-02-27 16:36] Avatoo opened #68 "Export output with merged column or row names"
Hi, I'm creating a shiny app around rpivotTable. A key requirement is to write the summary table to Excel spreadsheets etc. which has been done by copying this helpful post on issue #62. Ideally, the Excel output would look exactly like that of rpivotTable. However, when it's a 3-way, 4-way or 5-way table, the col/row names tend to be just duplicates instead of merged cells. I'm trying to re-forma

[2017-03-05 01:52] smartinsightsfromdata commented on #68
As I commented in #62  I think this functionality needs further testing, so many thanks for picking this up.

As far as specific lines of investigation to solve the problem, as you has seen, the parsing of the html data from the `Shiny.onInputChange` function is done using `rvest::html_table`.

I wonder if, using other web scraping packages  / functions for the conversion, this would give the same

[2017-03-05 02:00] smartinsightsfromdata commented on #67
There isn't to my knowledge (I've just consulted the wiki page for [pivottable.js](https://github.com/nicolaskruchten/pivottable/wiki/Parameters) ).

But please feel free to peruse the wiki as well: two pair of eyes work better than one!

[2017-03-05 02:09] smartinsightsfromdata commented on #65
We've had similar issues in the past.  Unfortunately they are usually due to incompatible version of some of the libraries (usually jquery) specified in each package, e.g. ggiraph and rpivotTable, loaded by htmlwidgets.

Sadly it is difficult to come up with a permanent resolution (e.g. the fix for one would cause problems to others): we are awaiting to see if something is forthcoming withhtmlwidg

[2017-03-18 01:09] Avatoo commented on #68
Unfortunately, I'm not an html ninja either. After a bit of search, I'm using package [`htmltab`](https://cran.r-project.org/web/packages/htmltab/vignettes/htmltab.html) because it perfectly identifies header information. For example, multiple levels are separate by " >> ".  Excel cells are then merged by `openxlsx::mergeCells()` when needed. Please let me know if you have better solutions than my

[2017-03-27 20:10] frkbr commented on #64
The latest release 2.11.0 of PivotTable.js seems to have added UI elements to control row/col ordering. That would be great to have in R too. Any chance of an updated R integration?

[2017-04-03 16:23] smartinsightsfromdata commented on #64
Is coming.  I've just started to work on it. Thanks for your patience.

[2017-04-11 00:26] martinlarsen commented on #49
Please, I would like to use rPivotTable to apply a user defined aggregator function, or simply base median(), for various subsets of a dataframe. Can anyone please show an example code. I have tried this:

df <- data.frame(A=c(1:10),B=c(-10:-1),C=c(21:30))
rpivotTable(data=df, rows="A", col="B", aggregator=median(), aggregatorName="Median")

Great wrapper, but difficult to understand the full set

[2017-04-16 14:39] smartinsightsfromdata commented on #68
@Avatoo many thanks for your contribution!

[2017-04-16 14:39] #68 closed

[2017-04-16 14:40] smartinsightsfromdata commented on #62
@EnricowithR   see example from @Avatoo to see if ti works for you

https://github.com/smartinsightsfromdata/rpivotTable/issues/68

[2017-04-16 14:41] #62 closed

[2017-04-16 14:44] smartinsightsfromdata commented on #66
@rdatasculptor The wrong file issue seems to be corrected in the latest version of pipottable just merged.
Please check if the nl locale now works ad report.  Many thanks!

[2017-04-16 14:45] #65 closed

[2017-04-16 14:47] smartinsightsfromdata commented on #64
To everyone.  Sorry it took so long to merge the new pivottable!

Now on github the rpivotTable version 2.0 is aligned to pivottable 2.11.0.

@nicolaskruchten I'm really impressed by the new release! Well done.

[2017-04-16 14:47] #64 closed

[2017-04-16 14:55] smartinsightsfromdata commented on #46
If I understand @nicolaskrutchen answer (see below), it is not exactly an easy change, moreover any change (beside using the current `integer sum` if you want to display only integer values) would apply to the entire table.

See discussion here https://github.com/nicolaskruchten/pivottable/issues/559

Feel free to re-open if you have an idea on how to address this.

[2017-04-16 14:55] #46 closed

[2017-04-16 15:02] smartinsightsfromdata commented on #63
@anu87  Apologies for taking so long. I didn't get around to try this, but I now posted in github (cran ongoing) a new version of rpivotTable aligned to the latest version of pivottable.

Would you be so kind to try again and report?

See also this https://github.com/nicolaskruchten/pivottable/issues/538

[2017-04-16 15:03] smartinsightsfromdata commented on #42
I've currently abandoned this possibility.  Please let me know if anybody is interested in experimenting with it.

[2017-04-16 15:03] #42 closed

[2017-04-16 15:06] #66 closed

[2017-04-16 15:28] rdatasculptor commented on #66
Thank!

[2017-04-19 13:11] yordanivanov92 opened #70 "Ability to change the colors in rpivotTable"
Firstly, I would like to say one big thank you for the rpivotTable package - it's more than awesome!

How (if possible at all) can one change the colors of the rpivotTable in Shiny? For example I would like to change of the colors of the sides of the table (which are currently blue)?

[2017-04-19 13:30] yordanivanov92 commented on #70
Managed to fix it after 3 days of trying - I'm sorry for the created issue. This is how I did it:
[code]

[2017-04-19 21:38] smartinsightsfromdata commented on #49
@martinlarsen I struggle to understand why you would need to use a user defined aggregator when you can use the freedom of `R` to define *any* custom aggregator you need.

As in `R` you can even add or delete columns programmatically, I do not currently see the limitation.

Care to explain you use case please?

[2017-04-20 08:22] martinlarsen commented on #49
Hi,
Sorry if I was not sufficiently clear. My situation is that I work with biological data where we often have many variables but not that many samples. Performing statistics on this type of data requires non-parametric tests. In other words median rather than mean etc. The pivot table provided in Microsoft Excel allows only to apply some pre-configured aggregators (excluding median). I therefore

[2017-04-20 08:26] martinlarsen commented on #49
You write that you don't understand my need, since I can use the freedom of R to define any custom aggregator function. If this is indeed the case, could you please write an example code of how you implement this. E.g. using the median as aggregator. See my example from my previous post, which doesn't work in my hands. It is very likely that I'm asking something which is already supported, and it

[2017-04-20 13:35] nicolaskruchten commented on #49
I think that median would be an eminently reasonable addition to the
underlying JavaScript library (of which I am the maintainer), but I'm not
sure if the group comparison ones make sense there. I can see the case for
more sophisticated aggregators though.

Other than the median, what other general purpose aggregators make sense
here? Variance?

On Thu, Apr 20, 2017 at 04:26 martinlarsen <notifica

[2017-04-20 16:18] smartinsightsfromdata commented on #49
Let's see, first of all, if I've got the `pipeline` you have in mind right.

Let's assume to have a csv with the following data:

[code]

And this is the `R` code I've come up with:

[code]

As you can see I've selected `Sum` as an aggregator, but `Max` or `Min` would have worked the same.

But if this is the use case, I would rather use `DT` in shiny or `table` in base `R`.

Is this what we are t

[2017-04-20 17:04] nicolaskruchten commented on #49
@smartinsightsfromdata this is sort of cheating though, you're pre-aggregating before putting the data into the pivot table... I think what's desired here is a way to just call `rpivotTable` and then get a table of medians as you drag and drop.

If we wanted to use the full power of R here, we would need a special Javascript-side aggregator that just accumulates values and then calls back to R cod

[2017-04-20 17:35] steadyfish commented on #49
In the essence the requirement is to have [OLAP](https://en.wikipedia.org/wiki/Online_analytical_processing) like functionality in `rpivotTable`..

[2017-04-20 17:54] nicolaskruchten commented on #49
Arguably all pivot tables provide OLAP functionality :)

It sounds like you just want a few more JavaScript-side aggregators like
median, mode, stdev, var etc, all of which are pretty to implement. What is
much harder to build is a bridge between PivotTable.js and arbitrary R
aggregators.

On Thu, Apr 20, 2017 at 13:35 steadyfish <notifications@github.com> wrote:

[2017-04-20 18:51] martinlarsen commented on #49
Indeed, you have understood what I'm looking for. I wish to avoid using aggregate to be able to change the variables to aggregate over by drop and drag in a pivot table. Indeed, most of my needs could be accommodated with a few standard aggregators, although i think a custom aggregator would be really great. The most important aggregator that I would like is median, but standard deviation, standar

[2017-04-20 20:47] nicolaskruchten commented on #49
Quick response re multiple aggregators: unfortunately this will likely
never be a supported feature of PivotTable.js, given the UX challenges and
scale of the rewrite necessary to support them.

Regarding additional aggregators, I would be open to adding some of these
to PivotTable.js, possibly as an optional extension for the more exotic
ones, such that rpivotTable could make use of them.

On Thu

[2017-04-20 20:53] smartinsightsfromdata commented on #49
@nicolaskruchten  Additional aggregators would be really good.

Frankly I have some reservation on the 'bridge' between `R` and `pivottable.js`.

We have currently the ability of exporting data out of the pivottable, which is great.

But to have a sort of ping pong between `R` and `pivottable.js` seems to open any sort of issues (including the potential for races etc.).

[2017-04-20 21:01] nicolaskruchten commented on #49
I understand and respect your concerns about the R/JS bridge, for I have
the same ones about the sometimes-requested Py/JS bridge in the
jupyter_pivottable integration :)

People often ask about server-side integration for PivotTable.js
computation in a web context as well, which boils down to the same issue
technically and I've generally decided that this is out of scope for the
moment given the

[2017-04-20 21:19] nicolaskruchten commented on #49
@martinlarsen @steadyfish I'm curious: would you use 'population' or 'sample' variance/stdev more often? Both Excel and Google Sheets support both (var, varp, stdev, stdevp) which I've always found unpleasant, but I understand the differences.

[2017-04-20 21:40] martinlarsen commented on #49
I use "sample" statistics as we never analyze all possible samples of a given population (e.g. we don't analyze all the patients with a given disease, but rather a small hopefully representative subset). Maybe in other areas population statistics would be relevant, but I don't think it is the case in biology (at least not in the contexts I have been in touch with).

[2017-04-20 22:10] martinlarsen commented on #49
In addition, I want to underline that supporting non-parametric statistics, such as median and 25%-75% quartiles would be a major advance compared to Excel. This is an important lack in Excel recognized by many biologists (and other scientists with small sample size requiring non-parametric analysis).

[2017-04-21 17:07] smartinsightsfromdata commented on #70
Not sure if this can help.  I've just answered a similar question on stackoveflow (maybe yours?).

[code]

[2017-04-24 07:51] yordanivanov92 commented on #70
Yes, I am the same person! I just did not now how to close this issue or report it's solved. Once again, thank you very much for the answers!

[2017-04-25 21:30] timelyportfolio commented on #49
### [`simple-statistics`](http://simplestatistics.org/docs/) as aggregator

I have intended to demonstrate this for a while, and I'll use the v4 release of @tmcw [`simple-statistics`](http://simplestatistics.org/docs/) as a motivation to post some code to show integration of the additional descriptive statistics from `simple-statistics` in `rpivotTable` or really `pivottable` in general.

### exam

[2017-04-25 21:37] timelyportfolio commented on #49
One more for fun adding `median`.

[code]

### screenshot

![image](https://cloud.githubusercontent.com/assets/837910/25408924/7ce59304-29d5-11e7-9ae4-9624c8b66f60.png)

[2017-04-25 22:07] smartinsightsfromdata commented on #49
@timelyportfolio  It looks great - and it is worth documenting it properly.  I assume that this may cover some of the more esoteric cases mentioned in this thread?

But for ease of use  I still hope that @nicolaskruchten will implement some standard aggregators :)

[2017-04-26 08:48] martinlarsen commented on #49
Thanks a lot for this solution. I agree with Enzo. Would be great to have this solution documented (which other functions are available in this manner - ss_????). Better yet, would be to have it implemented in a standardized manner in the rPivotTable package. I tried out the last solution including both Median and Quantile, and I realized that the Quantile_25 function was erroneously set as the me

[2017-04-26 19:17] timelyportfolio commented on #49
@smartinsightsfromdata, I happen to believe that this is well within our capabilities and that this would be an excellent opportunity to contribute to the wonderful `pivottable` project on which we rely.  Expecting more of @nicolaskruchten at this point given his very admirable and appreciated ongoing commitment seems unreasonable.

The pattern illustrated above is simple and straightforward.  We

[2017-04-27 16:25] #70 closed

[2017-04-27 16:34] smartinsightsfromdata commented on #49
@timelyportfolio can you kindly clarify your plan?

Do you intend to submit a PR to `pivottable`, or you think better to submit a PR to `rpivotTable`?

Obviously I'm fine with both proposals.

[2017-04-28 02:26] nicolaskruchten commented on #49
@timelyportfolio thank you for your kind words :)

I've just pushed a branch (https://github.com/nicolaskruchten/pivottable/compare/stats) which adds aggregator *templates* for quantiles and running variance/stdev calculations. These templates a flexible enough to build out aggregators for medians and other quantiles, as well as sample or population variance or standard deviation. I've used them t

[2017-04-28 12:41] timelyportfolio commented on #49
Thanks so much @nicolaskruchten for your very admirable commitment to such a fine library!  Not sure if you saw this geo pivot table example using turf.js https://bl.ocks.org/timelyportfolio/f9dbdf77c37ff9d2c3b81967819231ff.

Would you be interested in a `simple-statistics` plugin for pivottable if we were willing to do the work?

[2017-04-28 14:01] nicolaskruchten commented on #49
I did see your geo mashup on Twitter, and although it doesn't scratch any itches I have in my work, it might have some legs yet ;)  Perhaps implementing it as a renderer would make it more usable/user-friendly, so that the JSON doesn't appear in the table?

re simple-statistics, there are definitely a bunch of functions in there that some people would find useful, so I would welcome a PR into the

[2017-05-01 05:57] frajuegies opened #71 "Using width and height in Shiny App"
Good morning,

thank you very much for updating your rpivottable package on CRAN.

As in the former version I am struggeling with the height and width parameter.

The example code is:
`
library(shiny)
library (rpivotTable)

ui <- fluidPage(
  titlePanel("RPivotTable"),
  sidebarLayout(
    sidebarPanel(
    # intentionally empty
    ),
    mainPanel(
      rpivotTableOutput("pivot", width = '200px

[2017-05-04 03:23] nicolaskruchten commented on #49
OK, I've just pushed version 2.12.0 which contains these upgrades

[2017-05-04 19:33] nicolaskruchten commented on #49
Annnnd just pushed 2.13.0 which contains bugfixes for these upgrades :)

[2017-05-15 11:51] amitaharish opened #72 "How to add more than 1 vals = "" fields in "rpivotTable""
Dear Team,

Please help in modifying the code for rpivottable. I need to add more then 1 values. The code I tried is -
vals = c("ABC" , "XYZ") , aggregatorName = "Sum"

No error is received but the code is not working.

Regards,
Amita

[2017-05-26 09:24] smartinsightsfromdata commented on #72
Amita, can you please provide a minimal reproducible example?  Thanks

[2017-05-26 09:27] smartinsightsfromdata commented on #49
I will resubmit in a week time.  Many thanks!

[2017-05-26 10:23] amitaharish commented on #72
https://github.com/smartinsightsfromdata/rpivotTable
https://cran.r-project.org/web/packages/rpivotTable/vignettes/rpivotTableIntroduction.html

In the above mentioned website, there is an option of only one value ie vals = "Freq" only.
I need to add one more ie vals='Freq' and vals='Sum' and more.
The code I tried is -
vals = c("ABC" , "XYZ") , aggregatorName = "Sum"
but this is not working.

[2017-05-26 13:51] smartinsightsfromdata commented on #72
Amita, that is not what I need to help you.

Can you please post a fully coded minimal reproducible example? Thanks

[2017-05-31 11:07] amitaharish commented on #72
Please note, the base data has been taken from Google Analytics, a pivot has been made out of this. Below is the code for extraction from GA and then pivot.

#install devtools package for downloading packages from github
install.packages("devtools")
library(devtools)
#install curl for easier use
install.packages("curl")
library(curl)

#install RCurl
install.packages("RCurl")

library(RCurl)
librar

[2017-06-05 09:07] ShuSir commented on #49
Hi @smartinsightsfromdata just to check will the enhancement available be available soon?
Again thanks for your wonderful work !

[2017-06-06 07:04] amitaharish commented on #72
Any comments on this?

[2017-07-18 04:24] nicholaelaw opened #73 "`change_locale` not working."
Just had a quick trial of the package. Somehow none of the extra locales are working for me. Anything other than English gives an empty page. And if loaded in Chrome, the following errors are logged in the console:

    Uncaught TypeError: Cannot read property 'renderers' of undefined
        at Object.renderValue (rpivotTable.js:24)
        at htmlwidgets.js:625
        at Array.forEach (<anonymo

[2017-07-19 18:03] timelyportfolio opened #74 "add subtotal plugin"
I will volunteer to do this, but wanted to file an issue to track progress.  Add [subtotal plugin](https://github.com/nagarajanchinnasamy/pivottable-subtotal-renderer).  @smartinsightsfromdata, any objections?

[2017-08-02 15:44] nicolaskruchten opened #76 "Updating PivotTable.js"
I've just released a bugfix version of the library and would like to help you integrate it... If you let me know what the steps are to upgrade it, I can provide you with PRs whenever I release a new version, to help keep things in sync more smoothly :)

[2017-08-15 11:37] smartinsightsfromdata commented on #76
Hi Nicolas

It is certainly something worth considering.

Please let me know how I could facilitate this.

Thanks

Enzo

[2017-08-15 13:38] nicolaskruchten commented on #76
Cool! Ideally just a readme with steps to upgrade... do you just replace
some files or is there a set of commands to run or...?

On Tue, Aug 15, 2017 at 07:37 Enzo <notifications@github.com> wrote:

[2017-08-18 09:06] roshi4datascience commented on #62
hi I want to create shiny aap which help me create pivot table and download results can you help me with example thanks in advance

[2017-08-19 12:56] stla commented on #71
Me too, I don't manage to control the dimensions in Shiny. The graphs are too big.
I've also tried:
[code]
but that doesn't work.

[2017-09-25 12:24] ascotchmer commented on #62
The above code is very useful but only when the pivot is rendered as a table.  Is it possible to export a csv when a barchart is selected?  In other words, no matter how the data is rendered in rpivottable, the export will always be as though Table was the renderer.

[2017-10-09 00:57] fdrennan opened #77 "denver"

[2017-10-09 00:57] #77 closed

[2017-10-10 18:05] jerryhall opened #78 "Display pivot() only?"
Hi Enzo. Thanks for this tool. It has been very helpful.

Could you tell me how I can create just the pivot() output in R vs. the full pivotUI()?

This would allow me to place the table in dashboards or other compact areas. I'm also not sure some of my users would have any idea how to use the full interface.

Thanks again!

[2017-10-12 15:43] sadaftariq opened #79 "rpivotTable- hiddenFromAggregators and hiddenFromDragDrop options are not working"
I tried to find any example related to this topic but didn't find any clear answer. Issue related to this was asked and closed. Due to my limited knowledge in R shiny, I couldn't get a solution to my problem.

Firstly, I'm trying to hide a specific variable from drag and drop panels while constructing a pivot table. Secondly, I want to use a specific variable as an aggregator and remove all rest o

[2017-10-13 13:57] nicolaskruchten commented on #79
The issue is most likely because the `hiddenFromDragDrop` and `hiddenFromAggregators` options are in PivotTable.js version 2.15.0 and rpivotTable only contains 2.11.0. Once @smartinsightsfromdata updates it it should work :)

[2017-10-15 01:41] sadaftariq commented on #53
I've exactly the same question. Is there any way to save the plots created within rpivottable? I'm using Shiny. Thanks.

[2017-10-15 10:07] smartinsightsfromdata commented on #53
The following works for me (not tested in shiny):

[code]
(based on @malcook answer on SO [here][1])

  [1]: https://stackoverflow.com/questions/41399795/savewidget-from-htmlwidget-in-r-cannot-save-html-file-in-another-folder

[2017-10-15 10:11] smartinsightsfromdata commented on #78
Perhaps I cannot see this, but why would you use `pivot()` when you can use other table widgets in `R` and `shiny`?
What would be the use case?

[2017-10-18 05:53] chriswweibo opened #80 "Is it possible to control some basic display params?"
Hi
Quite excited about the rpivottable pkg.

While if I want to change the labels of x/y-axis, the chart title and the font of ticks.
I found no entries.
Did I miss anything?

Thx

[2017-10-19 06:27] nirasoft opened #81 "Customizing heatmap colors"
Hi,
How can I customize heatmap colors to a color other than red? Can I specify the range of colors?
I tried using argument rendererOptions but it did not work:
data %>% rpivotTable(rendererOptions = list(heatmap = list(colorScaleGenerator = JS('
  function(values) {
                                return d3.scale.linear()
                                    .domain([-35, 0, 35])

[2017-10-19 20:24] holstius commented on #78
My team also has this use case!

I've taught teammates to use the syntax of `rpivotTable`.

For QA'ing our data, it's great. Slice-split-repeat is a great way to drill down and find anomalies in quantitative data.

Now we want to be able to put two, three, or four (static) tables in a single Rmarkdown document, each of which is a different tabulation of the same dataset.

`pivotUI()`, as far as I

[2017-11-09 13:37] tbates opened #82 "NEWS listed as a vignette, Titles of Vignette left at default "Vignette Title""
In CRAN version of rpivotTable, the NEWS file is listed as a vignette, and the Vignette has a default title "Vignette Title" instead of  the actual title

[2017-11-20 11:25] smartinsightsfromdata commented on #82
@tbates  Thanks for this.  I'll amend for the next coming submission.

[2017-11-20 11:26] #82 closed

[2017-11-23 01:33] kalinagrawal opened #83 "Table renders aggregate zeros as blank instead of "0""
When an aggregate value is 0 (zero), the pivot table cell shows a blank instead of "0". I think this should show a true "0" to distinguish between:

- data is present and aggregates to zero
- row/column labels present, but missing data.

Here's an RPubs.com pub that shows the issue and how to reproduce it.

Thanks for your hard work!!

http://rpubs.com/kagrawal/332425

PS: I reported this bug on t

[2017-11-30 08:14] gd047 opened #84 "get 'drilldown' functionality, using the `clickCallback` parameter"
How can I get 'drilldown' functionality in the built-in Table Renderer so that when I click or double-click on a cell, the relevant records are somehow made visible, using the `clickCallback` parameter, which you can see in action in [this example](https://pivottable.js.org/examples/mps_prepop.html)?

[2018-01-04 01:45] rubemd opened #85 "Order in "List unique values""
Hi! First of all, congratulations for this excellent tool. It is really handy!

I am just in some trouble when selecting "List unique values" as I can't understand how it sorts neither I could do something to change its sorting. I tried, without success, changing the target field from numbers or letters. Maybe you can better understand with the following figures.

<img width="786" alt="captura de

[2018-01-07 01:10] ctmann opened #86 "Feature Request: Export to dplyr pipeline"
It would be AWESOME to be able to export rpivotTable as dplyr pipeline script, effectively using the widget to write code.

[2018-01-09 03:12] davlee1972 commented on #81
It would be nice if we could get this example working:

https://pivottable.js.org/examples/montreal_2014.html

Tried the following without any success

rpivotTable(data = data, rendererName = 'Heatmap',
renderers = htmlwidgets::JS("$.extend(
                        $.pivotUtilities.renderers,
                        $.pivotUtilities.c3_renderers,
                        $.pivotUtilities.export_ren

[2018-01-09 15:01] nicolaskruchten commented on #85
This is something which will need to be fixed in the underlying Javascript library. I've created a corresponding issue in that repository: https://github.com/nicolaskruchten/pivottable/issues/854

[2018-01-09 17:59] davlee1972 commented on #81
Well I got the sample to work sort of.. There appears to some bug with passing in renderOptions.

library(rpivotTable)

test2 = read.csv("c:\\temp\\montreal_2014.csv")

hm = rpivotTable(data = test2, rendererName = "Heatmap", aggregatorName = "First", cols = "Date",
rendererOptions = list(
    heatmap = list(
        colorScaleGenerator = htmlwidgets::JS('function(values) {
            return d3.s

[2018-01-30 20:39] nicolaskruchten commented on #85
This should be fixed in version 0.3.0 of this library! https://github.com/smartinsightsfromdata/rpivotTable/releases/tag/v0.3.0

[2018-01-30 20:39] #85 closed

[2018-01-30 20:39] nicolaskruchten commented on #83
This should be fixed in version 0.3.0 of this library! https://github.com/smartinsightsfromdata/rpivotTable/releases/tag/v0.3.0

[2018-01-30 20:39] #83 closed

[2018-01-30 20:40] nicolaskruchten commented on #79
This should be fixed in version 0.3.0 of this library! https://github.com/smartinsightsfromdata/rpivotTable/releases/tag/v0.3.0

[2018-01-30 20:40] #79 closed

[2018-01-30 20:40] nicolaskruchten commented on #73
This should be fixed in version 0.3.0 of this library! https://github.com/smartinsightsfromdata/rpivotTable/releases/tag/v0.3.0

[2018-01-30 20:40] #73 closed

[2018-01-30 20:40] nicolaskruchten commented on #74
This should be fixed in version 0.3.0 of this library! https://github.com/smartinsightsfromdata/rpivotTable/releases/tag/v0.3.0

[2018-01-30 20:40] #74 closed

[2018-01-30 20:40] #76 closed

[2018-01-31 09:04] nicholaelaw commented on #73
Nicely done!

[2018-02-05 18:42] smartinsightsfromdata commented on #86
@ctmann can you elaborate please?
e.g. adding an example in pseudocode?

Thanks in advance

[2018-02-05 18:47] smartinsightsfromdata commented on #49
@ShuSir library is update to latest pivotable.

Closing this issue now.

[2018-02-05 18:47] #49 closed

[2018-02-25 05:11] ctmann commented on #86
[code]

<img width="375" alt="screen shot 2018-02-25 at 12 10 40 am" src="https://user-images.githubusercontent.com/7151402/36638334-6453a890-19c0-11e8-94d4-b4bc0bb0ab1e.png">

[2018-03-12 11:39] kkeenan02 commented on #86
this would be very cool

[2018-04-30 20:11] tlawotkd commented on #81
It works on my end in that way as well, i.e.

rp$x$params$rendererOptions = rp$x$params$rendererOptions[[1]]

this line should be in the code to properly assign the rendererOptions parameter.

[2018-07-11 22:37] Eli-Berkow opened #89 "Add Plotly chart renderers"
I would like to track this SO question [R rpivotTable add Plotly chart renderers
](https://stackoverflow.com/questions/48440463/r-rpivottable-add-plotly-chart-renderers)

[2018-07-20 14:44] ADometrius opened #90 "rpivotTable does not render in shiny dashboard app or in shiny server"
I can render the pivot table outside of shiny just fine, but when attempting to render inside of my shiny app or on an app via shiny server, nothing renders on the page. Is there a known conflict with my versions: R 3.5.0, shiny 1.1.0, shinydashboard 0.7.0, htmlwidgets 1.2, rpivotTable 0.3.0 (Shiny server is using R version 3.4.4 ).

As a note, this is a rather large shiny app and everything else

[2018-07-24 21:58] ADometrius commented on #90
This is driving me crazy. I can't seem to figure the issue out... If I run the pivot table by itself it works fine, but when I run the app I get no errors, and no pivot table. I even recreated the pivot table in a new app and it runs fine (I need it to be a part of a much larger app that I have built).

Any thoughts?? Issues with other packages or css issues I should watch out for?

[2018-07-24 22:19] smartinsightsfromdata commented on #90
It would be best if you could provide a reproducible example.

From my past experience, there have been issues when certain libraries had different versions of some shiny libraries (e.g. jquery-ui or jquery).  Any htmlwidgets by design loads these components.  All is well when they are aligned, but problems may arise when they are not.

Sadly this means going by exclusion on any R package that may

[2018-07-24 22:20] smartinsightsfromdata commented on #89
@nicolaskruchten Any news on this issue?  Thanks in advance.

[2018-07-24 22:23] smartinsightsfromdata commented on #84
@nicolaskruchten Could you kindly give some input here?  Thanks in advance.

[2018-07-25 13:23] nicolaskruchten commented on #89
My intention is to replace C3 with Plotly altogether but at the moment there isn't parity between the two because plotly.js does not yet support Stacked Areas (although it's being worked on). So the day that Plotly can be a drop-in replacement for C3 we can switch over.

We could switch over sooner but that would mean that anyone using Stacked Areas that switches would see breakage.

[2018-07-25 13:24] nicolaskruchten commented on #84
I'm not sure how to do this from R to be honest... Support is present in the underlying JS code, so if you can pass a function through via `rendererOptions` you should be able to listen to the events...

[2018-07-25 13:53] Eli-Berkow commented on #89
@nicolaskruchten any chance of creating a separate branch in the meantime? I'm assuming by "drop-in replacement" it's an easy change but I might be way off.

[2018-07-25 14:08] ADometrius commented on #90
How would I go about comparing the different versions of libraries? This is part of a pretty large app so creating a reprex is going to be very difficult. I am working on process of elimination via 2 different directions:
Removing libraries 1 by 1 from the app to see if that makes any difference
Created a second app that contains only the rpivottable functionality and I am slowly adding libraries

[2018-07-25 14:58] nicolaskruchten commented on #89
I don't have a lot of bandwidth to manage separate branches at the moment, unfortunately. Keep an eye on https://github.com/plotly/plotly.js/issues/1217 :)

[2018-07-25 15:01] Eli-Berkow commented on #89
Thank you :)

[2018-08-28 11:34] TheVandalyst commented on #84
Did anyone figure out how to get this feature in R ?

[2018-09-07 14:15] Eli-Berkow commented on #89
@nicolaskruchten looks like https://github.com/plotly/plotly.js/issues/1217 was just closed :)

[2018-09-07 15:56] nicolaskruchten commented on #89
Yes I know ;) I can't commit a timeline for this, but at least there are now no new technical blockers.

[2018-09-12 07:17] Eli-Berkow commented on #89
That's good. I'll keep an eye out, thanks.

[2018-09-22 02:16] nicolaskruchten commented on #89
One step closer: PivotTable.js' plotly_renderers now has Area charts just like the c3_renderers

[2018-09-24 23:24] ghost opened #92 "renderOptions: you have to manually adjust "x$params$rendererOptions" for it to take effect"
If you pass arguments to the renderOptions param, it is necessary to manually update `x$params$rendererOptions `(with itself?) to get it to work. Consider this example:

[code]

Run this and click on any data cells--nothing happens.

But if you add this line after your call to `rpivotTable`:

`MYPIVOT$x$params$rendererOptions = MYPIVOT$x$params$rendererOptions[[1]]`

and view `MYPIVOT ` again, the

[2018-09-26 01:07] ghost commented on #84
[code]
The "$x$params$rendererOptions[[1]]" line is workaround for a bug (see BR #92), but otherwise this will get this functionality to work.

I can make a PR to add documentation for this, but I should probably wait for BR #92 to be fixed first.

[2018-10-04 22:22] ghost commented on #92
I just submitted a PR to fix this. Thanks.

[2018-10-20 09:28] mohsenlaleh opened #93 "Assigning different aggregators to different columns in rpivotTable."
I just want to know that is there any way to assign different aggregators to different columns in rpivotTable or not?
Some of my columns are just values and I can use "Sum" aggregator (in this example "Sales" and "ITPSales") but for others (I want to calculate "ITP" column), I need to use "Sum over Sum". I know I could calculate the needed column in r first and then use the rpivotTable but in this

[2018-10-20 21:55] nicolaskruchten commented on #93
It’s not possible to use different aggregators for different parts of the
table, no.

On Sat, Oct 20, 2018 at 05:28 Mohsen Laleh <notifications@github.com> wrote:

[2018-10-21 03:47] mohsenlaleh commented on #93
Thank you very much for your attention.

[2018-11-03 08:57] #93 closed, assigned to nobody

[2018-11-06 06:02] SaadAmin5 commented on #68
Hi @Avatoo , could you please post all the codes of Titanic data? It would be really helpful as I'm facing the same issue. Thanks

[2018-11-11 10:44] SaadAmin5 opened #94 "Unable to get only Bar Chart and Sum in RpivotTable"
I only want to have **Table, Bar chart** as *RendererName* and **Sum** coming up in *AggregatorName*. It is currently not working.
I shall be extremely grateful for the help. Thanks

**Codes:**

    library(rpivotTable)
    rpivotTable(data =  mtcars, subtotal = FALSE,  rows = c( "cyl"),cols=c("carb"),
    vals =  "mpg",
    aggregatorName = "Sum",
    rendererName =  "Table",
    renderers = list

[2018-11-12 09:09] SaadAmin5 commented on #94
Any brilliant mind with an idea?

[2018-11-14 12:03] avsdev-cw commented on #94
After looking at this, the only solution I can find involves a modification to the source code of rpivotTable.  It is in fact a bug in the way the 2 parameters are handled and passed into the pivotUI() call.

I can provide a patch if needed.

[2018-11-14 12:16] SaadAmin5 commented on #94
That would be great if you could provide the patch or update the codes. Bundle of thanks mate :)

[2018-11-14 12:48] avsdev-cw commented on #94
https://github.com/avsdev-cw/rpivotTable/tree/patch-002 - you can use devtools::install_github() to install

Usage would be something like:
[code]

[2018-11-14 12:57] SaadAmin5 commented on #94
Thanks a lot, but the output is showing '0' as rendererName and aggregatorName.
No options are displayed with empty table.
Can you please have a look?

[2018-11-14 13:13] avsdev-cw commented on #94
I've bumped the version number in that branch to 0.3.1002

Install the branch from within R/RStudio with: devtools::install_github("avsdev-cw/rpivotTable", "patch-002")

Restart R and then use library(rpivotTable) to load the new library. Use sessionInfo() to check that the version that is loaded is 0.3.1002

NOTE: this is a development build of the package and as such you should treat it with cau

[2018-11-14 13:42] Saad55555 commented on #94
Thanks a lot mate, I’ll try that 😊
From: avsdev-cw<mailto:notifications@github.com>
Sent: Wednesday, November 14, 2018 6:13 PM
To: smartinsightsfromdata/rpivotTable<mailto:rpivotTable@noreply.github.com>
Cc: Saad<mailto:saad_amin727@hotmail.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [smartinsightsfromdata/rpivotTable] Unable to get only Bar Chart and Sum in RpivotTable (#94)

I've

[2018-11-14 16:14] Saad55555 commented on #94
Bundle of Thanks mate, it's working perfectly :)
just one last question, is it possible to remove 'Totals' coming in column and row

[2018-11-14 16:31] Saad55555 commented on #94
Many thanks, its working fine but i'm having problem in deploying shinyapp.
Its saying 'Error is parse & Error in sourceUTF8'.
Any suggestions?

[2018-11-14 16:42] SaadAmin5 commented on #94
Many thanks mate :)  its working perfectly now.
Just one last question, is it possible to remove 'Totals' coming up in column and rows?

[2018-11-14 18:25] avsdev-cw commented on #94
You can add a stylesheet with a couple of rules in it:

[code]

You do lose the right hand table border though...

[2018-11-14 20:38] smartinsightsfromdata commented on #94
@avsdev-cw Great stuff.  Would you like to submit a PR for the patch?

[2018-11-15 13:46] SaadAmin5 commented on #94
Thanks a lot mate, is it possible for you to update the codes with stylesheet having those rules. I tried but didn't work. Regards

[2018-11-15 14:17] avsdev-cw commented on #94
The CSS change would need to be done on your app.  This link should help you with how to do it: https://shiny.rstudio.com/articles/css.html

[2018-12-13 21:06] mhismail commented on #90
Not sure if this issue is related, but I was having a similar problem where the pivot table was not displaying. Taking the period out of the name fixed the problem for me.

[2019-01-09 08:01] prokopyev commented on #19
Neither of above solutions seem to work nowadays.

[2019-02-04 17:49] stei0792 opened #97 "Reverse Date Order"
Dear Team,

I am in need of some code modification so that my Date column is in reverse order, so most recent dates to past dates. Below is what I tried, however this just shows the two dates first not necessarily this as a range from 2019-01-31 to 2010-01-31. Any solution would really help if you have any time to help.

df is the dataframe

rpivotTable(df, rows=c("ForecastGroup","Date"),

[2019-03-21 09:55] gd047 commented on #81
@davlee1972  I used `$.pivotUtilities.export_renderers` as in your example but the "TSV Export" renderer is not shown. Does it work on your end?

[2019-03-31 20:04] Ammar-K opened #98 "adding "TSV Export" to renders"
Thank you for the great work,

I want to know how to add 'TVS Export' to the renders list.

[2019-04-05 12:14] SergiyIurenko opened #99 "Do not work correctly with insertUI/removeUI"
I need to generate dynamically user interface in my shiny App. This involves inserting rpivotTable to UI page under some conditions with insertUI. I found that I can successfully do it only ones. After removing the element and inserting it again it do not appear. The issue is with rpivotTable only. All other interface elements like dataTable, actionButton so on work well. Here is the sample code r

[2019-04-06 13:02] smartinsightsfromdata commented on #99
@SergiyIurenko    This code works for me:
[code]
Let me know if it works for you.

[2019-04-10 14:32] SergiyIurenko commented on #99
Dear Enzo,
   I have checked the code and it works perfectly. Thank you!
Regards,
Sergiy

[2019-04-10 14:32] #99 closed, assigned to nobody

[2019-04-12 14:31] ghost commented on #98
I used to do like this:

[code]

However, the above does not work if I set `subtotals = TRUE`, and I wonder if it is possible to have both enabled.

[2019-04-19 14:39] omargiorgetti commented on #62
[rpivotTabletocsv](https://github.com/omargiorgetti/rpivotTabletocsv)

[2019-05-03 13:00] ghost opened #100 "save/load configuration from local file?"
I use rpivottable on several (rmarkdown) web pages.
I have seen [an example here](https://pivottable.js.org/examples/save_restore.html) of saving/restoring table configuration to cookie.
Since I am not good in javascript, I would like to ask if it is possible to add two buttons on top of the table control, allowing the users to save/load their preferred table configurations. Could you provide the

[2019-06-08 19:07] pionpi opened #101 "Provide option to escape html"
R packages that can be used in Shiny typically provide simple methods of escaping html. For example, in rHandsonTable, kable, rFullCalendar you simply set a escape flag to true or false. Please provide an option to escape html in rPivotTable.
Thank you.

Example:

df <- data.frame(Col1 = c("&lt;b&gt;Cat&lt;/b&gt;","Dog","&lt;b&gt;Ferret&lt;/b&gt;"), Col2 = c(1,2,3), Col3 = c("a","b","b"))

rpivotT

[2019-06-08 22:13] nicolaskruchten commented on #101
The underlying Javascript library doesn’t allow this, so the htmlwidget will not be able to do much here.

[2019-06-09 17:03] pionpi commented on #101
Thank you for a quick response. Are there any workarounds?

[2019-06-09 19:12] nicolaskruchten commented on #101
The HTML output is reasonably clean and well-annotated with CSS classes so you may be able to use CSS to style certain parts of the table.

[2019-07-22 15:42] AndreasPhilippi commented on #94
Somehow i did not get the Version 0.3.1002. When  I install the package with devtools::install_github("avsdev-cw/rpivotTable", "patch-002") and check the version by sessionInfo() i still have 0.3.0. Is there any solution for that

[2019-07-23 09:50] avsdev-cw commented on #94
@AndreasPhilippi did you restart your R session before loading the library?

[2019-07-24 06:01] instantkaffee commented on #100
I am also interested in better understanding how this pivotUI-based code can be used in context with rpivottable. @smartinsightsfromdata could you have a look into and provide some help ?

[2019-09-18 10:42] AndreasPhilippi opened #102 "pivottable does not work with login/logout module"
Hi, Im trying to use your package in my app but unfortunally it seems there is a bug.
First a short introduction in the problem and my app:
The app uses an login interface for authentification. If the user input was valid the ui changes from login to dashboard view. One part of the dashboar is the pivottable. Up to here everythinkg works fine but if I click on the logout button and login again, th

[2019-09-30 12:53] smartinsightsfromdata commented on #102
@AndreasPhilippi I think the problem is actually in your filtering code.

The following works.  Please note that I added the ability to scroll (by design pivotable can add lots of columns or rows, depending on the files you are analysing.
[code]

[2019-09-30 13:44] AndreasPhilippi commented on #102
Hi, thx for your answer and your time. I tried your code but it still does not work.
After a relog, the table is no longer displayed.

[2019-09-30 15:41] smartinsightsfromdata commented on #102
@AndreasPhilippi This is a bit mysterious & odd.

Have you tried to run the example I've attached, **exactly** as it is?
As mentioned, it works fine with me. See here.
<img width="861" alt="Screenshot 2019-09-30 at 16 40 36" src="https://user-images.githubusercontent.com/3786727/65894117-1e5a8780-e3a1-11e9-8a0d-4079357d4729.png">

this is my session info().  Could you provide yours?
[code]

[2019-10-01 18:43] AndreasPhilippi commented on #102
@smartinsightsfromdata
Hi, sry for my late reply.
Exactly - I tried to run it as it is.
I also tried running it on a friend's PC, but the same turned out.

This is how it looks like when I run the app:
![bild1](https://user-images.githubusercontent.com/50919805/65990255-eda74a80-e493-11e9-99b4-b196674503ec.PNG)

And that's what it looks like when I  log out and in again

![bild2](https://user-imag

[2019-10-05 15:46] smartinsightsfromdata commented on #102
@AndreasPhilippi

I'm keeping investigating the issue.  This is what I found:

There has been a regression of sort with the upgrade from htmlwidgets 1.3 to further releases.

Please try to install htmlwidgets 1.3 and confirm.  It works for me.

Incidentally, now htmlwidgets 1.5 is out and I cannot test with 1.4 anymore.

There is another regression with the login: with htmlwidgets 1.5 it doesn't w

[2019-10-06 19:33] smartinsightsfromdata commented on #102
@AndreasPhilippi There is a temporary fix (beyond using htmlwidgets 1.3) in ramnathv/htmlwidgets#349. I suggest to follow the evolution there.

[2019-10-07 09:29] AndreasPhilippi commented on #102
@smartinsightsfromdata
Great, thank you for your help and lets see what turns out for version 1.5!

[2019-11-03 05:36] jangorecki opened #103 "Using pivotTable from static html"
Thank you for this great package. I am coming with a question.
It is rather related to pivot table javascript than R package. Asking here as you are probably the best person to answer the question.
Is it doable to use pivot table js in a static html page generated from Rmarkdown?
I am using html report file produced from Rmd files. Report is pushed to github.io space. I am not able to run shiny th

[2019-11-03 05:42] jangorecki commented on #103
I should have checked it before asking question. It already works as expected, great! Thank you

[2019-11-03 05:42] #103 closed, assigned to nobody

[2019-11-03 06:06] jangorecki opened #104 "factor levels order is not retained"
Using factor is nice when you want to have ordered your strings, and is being used commonly in plotting libraries/functions. I don't see reason why pivot table should behave differently.
Below example shows that order of levels is ignored. This feature request is about ordering those `rows`/`cols` entries according to order of factor levels.
[code]
factor levels could automatically populate `sorte

[2019-11-03 06:18] jangorecki opened #105 "aggregate name: identity"
There could be one more function to just print the value as is. It is of course valid only when all value cells are length 1. Now use has to use `Average` which might be misleading when it is known that single value is in each cell.

[2019-11-03 06:24] jangorecki commented on #63
There is `subtotals` argument to enable sub totals but there is no `totals` argument to disable totals... New `totals` argument could take logical of length two (recycled when length 1) to control rows/columns separately allowing to disable only row totals.
As per linked issue in pivottable js, this seems to be implemented there already, could we add support in `rpivotTable` function for that?

[2019-11-03 15:27] timelyportfolio commented on #63
@jangorecki Looks like we need to do a couple things to support `rowTotals` and `colTotals`  now provided and explained in [rendererOptions](https://github.com/nicolaskruchten/pivottable/wiki/Renderers#built-in-renderers).

1. update pivottable to the newest release `2.23.0`
2. add arguments `rowTotals` and `colTotals` or a recycling option as you suggest

For now, a very ugly solution would be to

[2019-11-03 17:03] nicolaskruchten commented on #105
This is what List does :)

[2019-11-03 17:03] nicolaskruchten commented on #104
This would have to be passed to the JS layer via `sorters`

[2019-11-05 09:15] jangorecki commented on #105
make sense, but the problem is that when selecting `list unique values` the height of cells is multiplied by ~5 which makes table not very read-able.

[2019-11-05 10:37] jangorecki opened #107 "reduce area of metadata in output table"
By metadata I mean the area used to select columns, as opposed to data area where values are printed.
So the issue is about make the table looks more tidy. In an example below.
![Screenshot_2019-11-05_15-55-48](https://user-images.githubusercontent.com/3627377/68200389-c3dac980-ffe5-11e9-85e1-bc966b1feb2e.png)
You can see that "A" in unnecessarily wide, similarly as "B".
I would like to:
1. make "

[2019-11-05 12:10] jangorecki opened #108 "append style to rpivotTable css styles"
I want to have my rpivotTable aligned to left side of the screen ignoring template setting. Due to the `html_output` template things like `<div align="left">` does not work. Defining styles as the beolw works, but AFAIU the problem is it overrides rpivotTable styles provided to function call, like `height="100%"`, which makes the table overlaying on the text which is normally below the table, when

[2019-11-05 13:46] smartinsightsfromdata commented on #108
@nicolaskruchten Do you see a way to solve this via pivotable css?

[2019-11-05 14:55] smartinsightsfromdata commented on #107
@nicolaskruchten see also #108

Do you see a way to solve this via pivotable css?

[2019-11-05 15:19] nicolaskruchten commented on #107
You can do just about anything in CSS, yes, and you can use the `unusedAttrsVertical` parameter in pivottable.js to force the unused attribute area (the "metadata" as you call it) to always be above.

[2019-11-05 15:19] nicolaskruchten commented on #108
You should be able to override any CSS without modifying this component, using the usual CSS precedence rules, up to and including `!important`.

[2019-11-05 15:20] nicolaskruchten commented on #105
Yes, you end up listing the unique values in the total rows and cols, which sometimes distorts things. It's not clear what "identity" would do differently for the total cells.

[2019-11-07 14:56] jangorecki commented on #107
thanks @nicolaskruchten, works fine!
still the width of "A" could be improve as it doesn't have to be such wide

[2019-11-07 14:56] #107 closed, assigned to nobody

[2019-11-07 14:59] jangorecki commented on #105
@nicolaskruchten I don't think we could define "identity" for an aggregated measure, thus should be NA/empty

[2019-11-07 22:00] nicolaskruchten commented on #105
Sure, there are many ways to do this. If you want to add an aggregator here in the R binding you can do so by following the aggregator docs in the JS repo, but At this time I don’t want to add any more overlapping default aggregators at the JS layer. We have first/last/list already...

[2019-11-08 01:37] jangorecki commented on #105
OK, so the "average" has to stay in my case.

[2019-11-08 01:37] #105 closed, assigned to nobody

[2019-11-08 01:55] nicolaskruchten commented on #105
I tend to use min or max or first or last myself. First/last work with strings, whereas average doesn’t.

[2020-01-18 17:33] vh-d opened #109 "Easier extendibility of rpivotTable() for custom S3 classes"
I would like to extend `rpivotTable()` for a my custom class (derived from data.frame) where some parameters (such as dimension for rows and columns) are predefined and user does not need to specify them. Currently one has to write ugly wrappers such as `rpivotTableFromMyClass()` to do the trick.

It would be wonderful if we could just use S3 methods dispatch.

[2020-01-22 15:30] fn555 commented on #71
Hi there,

I know that it's pretty old issue, but I've just came across same problem. It took me some time, but I finally did it. Maybe it will be helpful for someone in the future.

I've placed rpivotTable inside div tag with id pivotDiv like below:
[code]
In my .css file I've placed
[code]

[2020-02-19 11:02] rlavelli commented on #104
Hello, I've tried the solution proposed in #106, but in my case it still won't give the correct result. See my example:

[code]
I'm running:

[code]

Thanks!

[2020-02-21 04:57] jangorecki commented on #104
@rlavelli your desired output does not seems to be corresponding to your data. Are you on old R version having different random generator algo? Please include `sessionInfo()`. Also use of dplyr seems to be irrelevant here, best to strip out unrelated stuff to ensure it is not interferring the process.
[code]
will do.

Also please provide output of `levels(dat$x_cut)` and `levels(dat$y_cut)`.
Did y

[2020-02-21 07:47] rlavelli commented on #104
Thank you for the reply, and sorry to bother.
No I didn't install the actual branch, I was under the impression that the new `make_sorters` function would suffice. I'll try to give an update about that.

For the sake of completeness, here's the info you asked (in a clean R session).

[code]
I was actually able to fix the sorting problem by adding an increasing number before each `cut` label in my

[2020-02-21 08:46] jangorecki commented on #104
Your workaround is basically avoiding the problem in the first place. As stated in this issue, alphabetical order is used instead of order of levels, thus adding a prefix number is disabling the issue.
Note that your initial report included `x order: (-23.9,-15.2] ...` which was probably generated with different random seed set. Updated one looks fine.

To easily install this branch you can use `r

[2020-02-26 11:16] jangorecki commented on #104
@rlavelli any news if the branch address your case?

[2020-02-29 08:15] rlavelli commented on #104
I'm sorry for the delay. I've tried the full branch and it works. Thank you!

[2020-04-12 19:53] jangorecki commented on #97
If you turn them into factors you can get any custom order you want by defining order of factor levels. Once #106 merged.

[2020-04-14 00:09] XianglinZhang-risker opened #111 "Support Excel Date Slice？"
I admire you very much, but I want to know whether it supports date slicing. Just like Excel, can you expand the year, month, and day or shrink it into the year and month?

[2020-05-02 16:41] Andrzej-Andrzej opened #112 "rpivotTable doesn't display anything"
Hi,
I am working with R x64 4.0.0 Win 10 x64, Rstudio 1.4.292 and when I want to try this:
data(mtcars)
rpivotTable(mtcars,rows="gear", cols=c("cyl","carb"),width="100%", height="400px")
nothing is happening. Looks like CPU is working in the backgeound but I can see nothing in RStudio viewer pane.
How to fix this?
Thanks.

[2020-06-03 10:23] stvrd commented on #25
Hello and first of all, thank you for this great package.

I came across a similar issue using `rpivotTable` inside `flexdashboard`. After some failures I found out how to implement the same principle in `flexdashboard`. Here is my solution, thought might be helpful for someone. Just add this chunk at the beginning of your markdown:

[code]

[2020-07-06 09:58] stvrd commented on #62
Hi,

There is an excellent solution for JS pivottable:
https://github.com/nicolaskruchten/pivottable/wiki/Optional-Extra-Renderers#exporting-to-tsv-demo
how can we use the optional extra renderer 'Export to tsv' in rpivottable?

[2020-07-31 11:33] subs4cs opened #113 "Question: Is there a way to sort table by values displayed in current column selection?"
I asked this question on [SO](https://stackoverflow.com/questions/63039545/r-rpivottable-is-there-a-way-to-sort-table-by-values-displayed-in-current-colum) but haven't received any response so thought about extending it to this community.

I'm trying to see if there is a way to sort pivot table by column values.

In the sample program and output snip below, is it possible to have table sorted by '

[2020-10-29 13:03] lalitsc12 commented on #19
The dropdown menu get hidden under shinydashboard
![image](https://user-images.githubusercontent.com/45671202/97577320-a73d5b80-19c5-11eb-8153-19a03a816fab.png)

[2020-11-06 11:53] fljoly commented on #111
Hi xianglinZ,
You should be able to do that before sending data to rpivottable.
If you provide an example data frame, I'll help you

[2020-12-10 15:35] J-Sparks commented on #25
thank you so much!

[2021-01-21 15:30] EduardoRamirez8112 opened #114 "My question is, How to colorize "Heatmap", creating a function with "ifelse ()"?????"
How to color "Heatmap", creating a function with "if else ()" ????

hi i am new to using "rpivotTable" package in "r". For data analysis due to its similarity to a rpivotTable in Excel. I have the following drawbacks:

1. When using the "Heatmap" render, I have come across that it assigns the coloration by scale based on a domain. (https://pivottable.js.org/examples/montreal_2014.html). However, I

[2021-03-12 17:59] KirchnerBenedikt opened #115 "Plotting multiple rpivotTable with for loop in html r-markdown"
I'm trying to generate a html report with Rmarkdown and want to include multiple rpivotTables. I have stored the input data.tables in a list, whose length can be varying according to the data I generate the report from, and I want to loop over every element in the list and print it in the html.

Any help would be greatly appreciated!

[code]

Thanks!

Benedikt

[2021-03-29 20:12] SaJaToGu commented on #90
mhismail is right.
That was also the problem with me. I'm using the function make.names which generates '.' dots for the shiny namespace id's in case I there are white space characters. This leads to the blackout of the rpivotTables.
Can this be avoided within the code of the package?

[2021-04-02 17:51] ghost opened #116 "Compatibility with Bootstrap 4?"
The little arrow icons near the rpivotTable's grouping categories, that open the dropdown selection lists, do not work when using [bslib](https://rstudio.github.io/bslib/)'s bootstrap 4 themes in rmarkdown.

However, there is no problem with the aggregators or renderers dropdown arrows.

NOT working with this yaml

[code]

[2021-04-20 11:52] glen-langdale opened #117 "Top row missing (where remaining pivot variables sit)"
No matter what I try I cannot get the top row to render with the additional variables (should be 8 others) -
![top row missing](https://user-images.githubusercontent.com/9019554/115391354-4c97f600-a1d7-11eb-9672-6ebb6e0c75f1.PNG)

using these libraries in my shinyapp but can't find a conflict - R version 4.0.5 Patched (2021-03-31 r80164) -- "Shake and Throw"
library(leaflet)
library(RMySQL)
librar

[2021-04-22 14:11] jaroet commented on #112
I came looking for another issue ... so your comment and decided to test it. Copy pasted your code and it is showing what you would expect within a second. On Mac though. So the code looks right.

[2021-05-19 12:41] ghost opened #118 "Drop down arrows problem with crosstalk v.1.1.1."
Drop down arrows, near grouping categories, do not work with [crosstalk v.1.1.1. ](https://cloud.r-project.org/web/packages/crosstalk/news/news.html) (Upgrade to jQuery v3.5.1.)

[2021-11-02 08:44] derekzoutendijk opened #119 "rpivotTable is not working together with shinyjqui"
Hi,

I found the following issue: When having a rpivotTable within your shiny app, the selectable in my shiny app no longer observes an event.

Reproduction:
1) Run the code below
2) Click one of the boxes within startpageDiv
Result: The observe does not print the selected div (NOK)
3) Comment the rpivotTableOutput
4) Run again code and click one of the boxes
Result: Observe does print selected di

[2021-11-16 11:15] ghost opened #120 "Drop down lists open in wrong position"
When clicking on drop down arrow, near grouping categories, the corresponding list opens on top of the page. (At first I thought it didn't work at all.). The correct position is next to the arrow, as shown in the picture.

rmarkdown reproducible example:

    ---
    title: "rpivottable_test"
    output: html_document
    ---

[code]

    ## R Markdown

    `r stringi::stri_rand_lipsum(10)`

[code

[2021-11-21 07:41] ChristopherMarais commented on #62
Is there solution for this yet similar to the JS pivottable?

[2021-12-13 14:26] goodfr commented on #71
Hi !

I also stumbled on that point and managed to work around as suggested by @andineck at [pivottable/issues/325](https://github.com/nicolaskruchten/pivottable/issues/325) by styling a `div` tag wrapper (in fine a solution similar to above) :

**module_ui.R**
[code]

[2022-01-15 07:40] ghost commented on #120
@smartinsightsfromdata Please help. This very useful package does not work as expected anymore. It's such a pity that R now lacks a solution for interactive pivot tables.

[2022-02-01 14:41] #116 closed, assigned to nobody

[2022-02-01 14:43] ghost commented on #116
see issue #120

[2022-02-28 17:42] todd-d-desnz commented on #78
The underlying javascript package added "showUI = FALSE" as a parameter in June 2018, for this purpose: https://github.com/nicolaskruchten/pivottable/wiki/Frequently-Asked-Questions#params

Unfortunately, rpivotTables has not been updated since that was added, so is using an old version of the javascript.

@smartinsightsfromdata or @nicolaskruchten - apologies for this blast from the past - would

[2022-03-23 01:02] timelyportfolio commented on #120
@gd047 Unfortunately I cannot re-create.  See below for screencast.
![rpivottable_120](https://user-images.githubusercontent.com/837910/159601314-ed9d0561-aa31-4120-a14b-c45002b49372.gif)

[2022-03-23 05:56] ghost commented on #120
@timelyportfolio Have you tried it with rmarkdown >= 2.11, htmltools =0.5.2 and htmlwidgets = 1.5.4 ?

[2022-03-30 02:46] timelyportfolio commented on #120
@gd047 Ok, I see now when I update `rmarkdown` to most current.  This is not an elegant solution, but if you place a `<style>` tag in the Rmd similar to below I think we restore the expected original behavior without any detrimental effects.  I do not think it is necessary to isolate the css but if so we could do something like https://github.com/ramnathv/htmlwidgets/issues/231.

### style tag
[co

[2022-03-30 05:01] ghost commented on #120
@timelyportfolio  Thank you very much. It really works. Nevertheless, I hesitate to use the package in new projects, because, as I see, it is not being maintained anymore. And I feel very sorry for that. It is the favorite widget of all those who use my web reports :-(

[2022-04-15 16:13] fraupflaume commented on #120
You can fix this issue by modifying the file at  inst/htmlwidgets/lib/pivottable/pivot.min.js

Where you have coded the creation of the click function for the element class `pvtTriangle`, you used the function `position()`. If you use `offset()`, it will fix this issue. I figured this out today answering an old Stack Overflow question (probably asked by gd047). You can see this question [here](htt

[2022-04-16 07:00] ghost commented on #120
@fraupflaume  Thank you once again :-)
I guess there is still some problem with the offset (in some cases..)
![image](https://user-images.githubusercontent.com/3167917/163671985-ccbcb9d9-b8fc-4283-b48d-c57483ce28da.png)

George D., Brani S.

[2022-04-16 12:09] ghost commented on #120
@fraupflaume  I think you can replicate the above problem if you change the `output` in yaml to this:

[code]

[2022-04-17 15:41] fraupflaume commented on #120
Alright, @gd047 I've updated my repository with a change and tried to break it in any way that I could think of. Please try to break it, again.

For the team at `rpivotTable`, as you already know, but perhaps don't have memorized, the element the click function for the UI filters is attached to is `.pvtTriangle`.  it seems that no matter where I place `rpivotTable()`, the third `offsetParent` of e

[2022-04-28 23:08] dholstius commented on #78
+1. There seem to be some other things breaking that might be fixed by an update. For example, in the UI, checked checkboxes now look blank rather than checked. (?)

[2022-04-29 08:19] todd-d-desnz commented on #78
@dholstius I've made a fork and done it myself, but in a very haphazard manner. It works, but I'm sure it's not best practice. Feel free to try it out - see PR #121.